<div region="center" split="true" border="false">
    <table id="details" class="easyui-datagrid" url="" border="false" singleselect="false"
        pagesize="50" fit="true" fitcolumns="true" toolbar="#tool" pagination="true"
        rownumbers="true">
        <thead>
            <tr>
                <th field="chk" id="chkid" checkbox="true">
                </th>
                <th field="ID" width="80" hidden="true">
                    ID
                </th>
                <th field="OutCellName" width="80">
                    作业储位
                </th>
                <th field="CellType" width="20">
                    类型
                </th>
                <th field="ProductName" width="100">
                    卷烟名称
                </th>
                <th field="PieceQuantity" width="20" align="left">
                    件数
                </th>
                <th field="BarQuantity" width="20">
                    条数
                </th>
                <th field="Status" width="50">
                    状态
                </th>
                <th field="InCellName" width="80">
                    目标储位
                </th>
                <th field="Operator" width="50">
                    操作员
                </th>
            </tr>
        </thead>
    </table>
</div>
