<script type="text/javascript">
    var searchDialog;
    function searchClick() {
        $('#isActive').combo({
            editable: false,
            panelHeight: 65,
            panelWidth: 130
        });
        $("input[type=text]").attr("value", "");
        $('#isActive').combo('setValue', "");
        $('#companyType').combo('setValue', "");
        if (searchDialog == null) {
            searchDialog = $('<div></div>').dialog({
                title: '查询',
                width: 310,
                height: 210,
                closed: true,
                cache: false,
                modal: true,
                href: '/Job/SearchPage/',
                buttons: [{
                    text: '查询',
                    iconCls: 'icon-ok',
                    handler: function () {
                        var queryParams = $('#details').datagrid('options').queryParams;
                        queryParams.JobCode = $('#JobCode').val();
                        queryParams.JobName = $('#JobName').val();
                        queryParams.IsActive = $('#isActive').combo('getValue');
                        $('#details').datagrid('options').queryParams = queryParams;
                        $("#details").datagrid('load');
                        searchDialog.dialog('close');
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        searchDialog.dialog('close');
                    }
                }],
                onLoad: function () {
                }
            });
        }
        searchDialog.dialog('open');
    };
</script>