@{
    Layout = null;
}
<div class="easyui-layout" fit="true" border="false">
    <div region="center" border="false" style="padding: 10px 10px; background: #fff;border: 1px solid #ccc;">
        <form id="fm" method="post" novalidate>
        <table width="460">
            <tr>
                <td width="60">
                    岗位编码:
                </td>
                <td width="160">
                    <input name="JobCode" id="inputJobCode" class="easyui-validatebox" validtype="maxLength[8]" required="true" />
                    <input name="ID" style="display: none" />
                </td>
                    <td width="60" >
                    岗位名称：
                </td>
                <td width="168">
                    <input name="JobName" class="easyui-validatebox" validtype="maxLength[50]" required="true" />
                </td>
            </tr>
            <tr>
                <td width="60">
                    是否可用：
                </td>
                <td>
                    <select id="isActive_job" name="IsActive" class="easyui-combobox" style="width: 130px">
                        <option value="1">可用</option>
                        <option value="0">不可用</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="60" align="right">
                    描述:
                </td>
                <td width="168" colspan="3">
                    <textarea name="Description" id="desId"  style="width: 351px; height: 80px"></textarea>
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>
