@{
    Layout = null;
}
<div class="easyui-layout" fit="true" border="false">
	<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >   
        <table width="280">
                    <tr>
                    <td width="60">岗位编码:</td>
                    <td width="168"><input id="JobCode" type="text"/>
                    <input name="ID"  style="display:none" /></td>
                        
                    </tr>
                    <tr>
                    <td width="60">岗位名称：</td>
                    <td width="168"><input id="JobName" type="text"/></td>
                    </tr>                      
                    <tr>
                    <td width="60">是否可用：</td>
                    <td><select id="isActive" class="easyui-combobox" required="true" style="width: 130px">
                            <option value="">请选择</option>
		                    <option value="1">可用</option>
		                    <option value="0">不可用</option>
	                    </select>
	                </td>
                    </tr>
                </table>
    </div>
</div>

