<script type="text/javascript">
    $(function () {
        
    });
</script>
 
<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid"
        url="/LoginLog/Details/" border="false" singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool" border="false"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="LogID" hidden="true" width="80">登录编码</th>
                <th field="LoginPC" width="60">登陆电脑</th>
                <th field="LoginTime" width="60">登录时间</th>
                <th field="LogoutTime" width="60">退出时间</th>
                <th field="User_UserID" hidden="true" width="120">登录的用户ID</th>
                <th field="UserName" width="80">登录的用户名</th>
                <th field="System_SystemID" hidden="true" width="80">登录的系统ID</th>
                <th field="SystemName" width="80">登录的系统</th>
            </tr>
        </thead>
    </table>
</div>

 


