<script type="text/javascript">
    var searchDialog;
    function searchClick() {
        $("input[type=text]").attr("value", "");
        $('#isActive').combo('setValue', "");
        $('#companyType').combo('setValue', "");
        if (searchDialog == null) {
            searchDialog = $('<div></div>').dialog({
                title: '查询',
                width: 300,
                height: 260,
                closed: true,
                cache: false,
                modal: true,
                href: '/Company/SearchPage/',
                buttons: [{
                    text: '查询',
                    iconCls: 'icon-ok',
                    handler: function () {
                        GetQueryParams();
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        searchDialog.dialog('close');
                    }
                }],
                onLoad: function () {
                }
            });
        }
        searchDialog.dialog('open');
    };
    function GetQueryParams() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.CompanyCode = $('#CompanyCode').val();
        queryParams.CompanyName = $('#CompanyName').val();
        queryParams.CompanyType = $('#companyType').combo('getValue');
        queryParams.IsActive = $('#isActive').combo('getValue');
        $('#details').datagrid('options').queryParams = queryParams;
        $("#details").datagrid('load');
        searchDialog.dialog('close');

    }
    $(document).keydown(function (e) {
        e = e ? e : window.event;
        var keyCode = e.which ? e.which : e.keyCode;
        if (keyCode == 13) {
            GetQueryParams();
        }
    });
</script>
