@{
    Layout = null;
}

    <div class="easyui-layout" fit="true" border="false">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <table width="250">
                <tr>
                    <td width="60">
                        公司编码:
                    </td>
                    <td width="168">
                        <input id="CompanyCode" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        公司名称：
                    </td>
                    <td width="168">
                        <input id="CompanyName" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        公司类型：
                    </td>
                    <td width="168">
                        <select id="companyType" class="easyui-combobox" style="width: 130px">
                                <option value="">请选择</option>
		                        <option value="1">配送中心</option>
		                        <option value="2">市公司</option>
                                <option value="3">县公司</option>
	                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        状态:
                    </td>
                    <td>
                        <select id="isActive" class="easyui-combobox" style="width: 130px">
                            <option value="">请选择</option>
                            <option value="1">可用</option>
                            <option value="0">不可用</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
