<script type="text/javascript">
    var setting = {
        view: {
            showLine: false
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: onclick
        }
    };
    function onclick(event, treeId, treeNode) {
        createTable(treeNode.type, treeNode.id);
        $('#listdetails').datagrid('options').url = '/Cargospace/Details/?type=' + treeNode.type + '&id=' + treeNode.id;
        $('#listdetails').datagrid('reload');
    }
    function createTable(type, id) {
        var div = document.getElementById("drop");
        while (div.hasChildNodes())
        {
            div.removeChild(div.firstChild);
        }
        var table = document.createElement("table"); //创建table
        $.getJSON('/Cargospace/TreeDetails/?type=' + type + '&id=' + id, function (data) {
            if (data.length > 0) {
                var y = 0;
                for (var s in data) {
                    if (data[s].asdd2 != y) {
                        var row1 = table.insertRow(); //创建一行 
                        var row2 = table.insertRow(); //创建一行 
                        var row3 = table.insertRow(); //创建一行 
                        y = data[s].asdd2;
                    }
                    var per = data[s].Quantity / data[s].maxQuantity
                    if (data[s].asdd3 == '1') {
                        var mydiv = document.createElement("div");
                        mydiv.style.width = "100px";
                        mydiv.style.height = "100px";
                        mydiv.style.backgroundColor = "#40e0d0";
                        var cell = row1.insertCell(); //创建一个单元 
                        cell.appendChild(mydiv);
                        mydiv.innerHTML = data[s].cellName + '<br />' + data[s].productName + '<br />' + data[s].Quantity + '件';
                    }
                    if (data[s].asdd3 == '2') {
                        var cell = row2.insertCell(); //创建一个单元 
                        var mydiv = document.createElement("div");
                        mydiv.style.width = "100px";
                        mydiv.style.height = "100px";
                        mydiv.style.backgroundColor = "#40e0d0";
                        cell.appendChild(mydiv);
                        mydiv.innerHTML = data[s].cellName + '<br />' + data[s].productName + '<br />' + data[s].Quantity + '件';
                    }
                    if (data[s].asdd3 == '3') {
                        var cell = row3.insertCell(); //创建一个单元 
                        var mydiv = document.createElement("div");
                        mydiv.style.width = "100px";
                        mydiv.style.height = "100px";
                        mydiv.style.backgroundColor = "#40e0d0";
                        cell.appendChild(mydiv);
                        mydiv.innerHTML = data[s].cellName + '<br />' + data[s].productName + '<br />' + data[s].Quantity + '件';
                    }
                }

            }
            else {
                var row = table.insertRow(); //创建一行
                var cell = row.insertCell(); //创建一个单元  
            }
            div.appendChild(table);
        });
    }
    $(function () {
        createTable('', '');
        $.ajaxSender.send('/DefaultProductSet/CellCodeSet/',
                            {
                                'productId': ''
                            },
                    function (data) {
                        $.fn.zTree.init($("#warehouseTree"), setting, data);
                    });
    });
</script>
<div id="sidebar" region="west" split="true"  style="width: 220px; overflow: scroll; padding: 1px; margin: 1px">
    <ul id="warehouseTree" class="ztree"></ul>
</div>
<div region="center" split="true" border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">    
    <div id="spaceTabs" class="easyui-tabs" fit="true"> 
        <div title="列表模式" data-options="tools:'#p-tools'" style="padding:1px;">
            <table id="listdetails" class="easyui-datagrid" url="/Cargospace/Details/" border="false" singleSelect="true"  pageSize="50"
                fit="true" pagination="true" rownumbers="true">
                <thead>
                    <tr>
                        <th field="CellCode" width="100" align="center">货位编码</th>
                        <th field="CellName" width="100" align="center">货位名称</th>
                        <th field="ProductCode" width="100" align="center">商品编码</th>
                        <th field="ProductName" width="120" align="center">商品名称</th>
                        <th field="UnitCode" width="100" align="center">单位编码</th>
                        <th field="UnitName" width="100" align="center">单位名称</th>
                        <th field="Quantity" width="80" align="center">数量</th>
                        <th field="StorageTime" width="80" align="center">储存时间</th>
                        <th field="UpdateTime" width="80" align="center">更新时间</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div title="图形模式" id="drop" data-options="tools:'#p-tools'" style="padding:0px;"> 
        </div>
    </div> 
</div>

