<script type="text/javascript">
    var setting = {
        view: {
            showLine: false
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: onclick
        }
    };
    var row;
    var detailId;
    var productCode;
    var productNames;
    var rowOut;
    var unitName;
    var billNo = "";
    function onclick(event, treeId, treeNode) {
        createTable(treeNode.type, treeNode.id);
    }
    $(function () {
        $('#outBillDetail').datagrid('options').onClickRow = function () {
            rowOut = $('#outBillDetail').datagrid('getSelected');
            detailId = rowOut.ID;
            productCode = rowOut.ProductCode;
            productNames = rowOut.ProductName
        }
        $.ajaxSender.send('/DefaultProductSet/CellCodeSet/',
                            {
                            'productId': ''
                        },
                    function (data) {
                        $.fn.zTree.init($("#warehouseTrees"), setting, data);
                    });
    });
    function createTable(type, id) {
        var div = document.getElementById("drop");
        while (div.hasChildNodes()) {
            div.removeChild(div.firstChild);
        }
        var table = document.createElement("table"); //创建table
        $.getJSON('/Cargospace/AllotOutTreeDetails/?type=' + type + '&id=' + id + '&productCode=' + productCode, function (data) {
            if (data.length > 0) {
                var y = 0;
                for (var s in data) {
                    if (data[s].asdd2 != y) {
                        var row1 = table.insertRow(); //创建一行
                        var row2 = table.insertRow(); //创建一行
                        var row3 = table.insertRow(); //创建一行
                        y = data[s].asdd2;
                    }
                    if (data[s].asdd3 == '1') {
                        var mydiv = document.createElement("div");
                        mydiv.setAttribute("class", "itemdiv");
                        mydiv.id = data[s].cellCode;
                        mydiv.class = data[s].unitName;
                        var cell = row1.insertCell(); //创建一个单元
                        mydiv.style.width = "100px";
                        mydiv.style.height = "100px";
                        mydiv.style.backgroundColor = "#40e0d0";
                        cell.appendChild(mydiv);
                        mydiv.innerHTML = data[s].cellName + '<br />' + data[s].productName + '<br />' + data[s].Quantity + data[s].unitName;
                    }
                    if (data[s].asdd3 == '2') {
                        var mydiv = document.createElement("div");
                        mydiv.setAttribute("class", "itemdiv");
                        mydiv.id = data[s].cellCode;
                        mydiv.class = data[s].unitName;
                        var cell = row2.insertCell(); //创建一个单元
                        mydiv.style.width = "100px";
                        mydiv.style.height = "100px";
                        mydiv.style.backgroundColor = "#40e0d0";
                        cell.appendChild(mydiv);
                        mydiv.innerHTML = data[s].cellName + '<br />' + data[s].productName + '<br />' + data[s].Quantity + data[s].unitName;

                    }
                    if (data[s].asdd3 == '3') {
                        var mydiv = document.createElement("div");
                        mydiv.setAttribute("class", "itemdiv");
                        mydiv.id = data[s].cellCode;
                        mydiv.class = data[s].unitName;
                        var cell = row3.insertCell(); //创建一个单元
                        mydiv.style.width = "100px";
                        mydiv.style.height = "100px";
                        mydiv.style.backgroundColor = "#40e0d0";
                        cell.appendChild(mydiv);
                        mydiv.innerHTML = data[s].cellName + '<br />' + data[s].productName + '<br />' + data[s].Quantity + data[s].unitName;
                    }
                }
            }
            else {
                var row = table.insertRow(); //创建一行
                var cell = row.insertCell(); //创建一个单元
            }
            div.appendChild(table);
            $('.itemdiv').draggable({
                revert: true,
                proxy: 'clone',
                cursor: 'pointer',
                onStopDrag: function () {
                    id = $(this).attr('id');
                    var cellname = document.getElementById(id).innerHTML.substring(0, 11);
                    unitName = document.getElementById(id).class;
                    $.ajaxSender.send('/StockOutBillAllot/AllotAdds/',
                                         {
                                             billNo: billNo,
                                             id: detailId,
                                             cellCode: id,
                                             productName: productNames
                                         }, function (data) {
                                             document.getElementById(id).innerHTML = cellname + '<br />' + productNames + '<br />' + data + unitName;
                                             document.getElementById(id).style.backgroundColor = "green";
                                         });
                    $('#outBillDetail').datagrid('reload');
                    $('#outBillDetails1').datagrid('reload');
                    $('#allotBillDetails').datagrid('reload');
                    $(this).draggable('options').cursor = 'move';
                }
            });
        });
    }
    function manualAllot() {
        createTable(", ");
        $('#outBillDetails1').datagrid('reload');
        $.fn.zTree.getZTreeObj("warehouseTrees").refresh();
        if (row) {
            $('#area').combotree({
                url: '/Area/GetDetailsTree/',
                multiple: true,
                width: 160
            });
            isInBillMasterSaved = false;
            isInBillMasterCanEdit = true;
            if (row.Status == "已录入") {
                $.messager.confirm('错误', '该记录未审核无法进行分配！');
            } else {
                $('#manualAllot').dialog('open').dialog('setTitle', '手动分配出库单');
                $('#outBillDetail').datagrid({ url: '/StockOutBill/OutBillDetails/?BillNo=' + row.BillNo });
                billNo = row.BillNo;
            }
        } else {
            $.messager.confirm('错误', '没有选择行！');
        }
    }
    function allotClick() {
        row = $('#details').datagrid('getSelected');
        if (row) {
            $('#area').combotree({
                url: '/Area/GetDetailsTree/',
                multiple: true,
                width: 160
            });
            isOutBillMasterAdd = false;
            isShowOutBillDetail = true;
            if (row.Status == "已录入" || row.Status == "已入库") {
                $.messager.confirm('错误', '该记录未审核或已入库无法进行分配！');
            } else {
                $('#dlg-allot').dialog('open').dialog('setTitle', '出库单据分配');
                $('#outBillDetails1').datagrid({ url: '/StockOutBill/OutBillDetails/?BillNo=' + row.BillNo });
                $('#allotBillDetails').datagrid({ url: '/StockOutBillAllot/Search/?BillNo=' + row.BillNo });
                billNo = row.BillNo;
            }
        } else {
            $.messager.alert('错误', '没有选择行！');
        }
    };

    function allot() {
        $.asyncProcessing.OnProgressComplete = function () {
            $('#details').datagrid('reload');
            $('#outBillDetails1').datagrid('reload');
            $('#allotBillDetails').datagrid('reload');
        }
        var areas = $('#area').combotree('getValues');
        $.asyncProcessing.Start('/allotStockOut', $.toJSON({ ActionType: 'start', BillNo: billNo, AreaCodes: areas}));
    }

    var modifyUrl;

    //新增出库单明细分配
    function allotAdd() {
        var detailRow = $('#outBillDetails1').datagrid('getSelected');
        if (detailRow) {
            if (detailRow.AllotQuantity < detailRow.BillQuantity) {
                $('#fm_allot').form('clear');
                $('#dlg_allot_modify').dialog('open').dialog('setTitle', '新增');
                $('#fm_allot').form('load', detailRow);
                $('#allQuantity').attr("value", '')
                modifyUrl = '/StockOutBillAllot/AllotAdd/';
            } else {
                $.messager.alert('错误', '所选卷烟已分配完成！');
            }
        } else {
            $.messager.alert('错误', '没有选择行！');
        }
    }

    //修改出库单明细
    function allotEdit() {
        var detailRow = $('#allotBillDetails').datagrid('getSelected');
        if (detailRow) {
            $('#dlg_allot_modify').dialog('open').dialog('setTitle', '修改');
            $('#fm_allot').form('load', detailRow);
            if (detailRow.IsWholePallet == 1) {//是整托盘，分配数量只读
                $('#allQuantity').attr('readonly', 'readonly');
            }
            else {
                $('#allQuantity').removeAttr('readonly');
            }
            modifyUrl = '/StockOutBillAllot/AllotEdit/';
        } else {
            $.messager.alert('错误', '没有选择行！');
        }
    }

    //删除出库单明细
    function allotDelete() {
        var detailRow = $('#allotBillDetails').datagrid('getSelected');
        if (detailRow) {
            $('#dlg_allot_modify').dialog('open').dialog('setTitle', '删除');
            $('#fm_allot').form('load', detailRow);
            modifyUrl = '/StockOutBillAllot/AllotDelete/';
        } else {
            $.messager.alert('错误', '没有选择行！');
        }
    }

    function cancelAllot() {
        $.ajaxSender.send('/StockOutBillAllot/AllotCancel/',
                        { billNo: billNo },
                        function (data) {
                            $('#outBillDetails1').datagrid('reload');
                            $('#allotBillDetails').datagrid('reload');
                        }, $('#dlg-allot'));
    }

    function AllotModifySave() {
        $('#fm_allot .easyui-validatebox').validatebox({
            required: true
        });
        if ($('#fm_allot').form('validate')) {
            $.ajaxSender.send(modifyUrl,
                $('#fm_allot').serializeArray(),
                function (data) {
                    $('#details').datagrid('reload');
                    $('#outBillDetails1').datagrid('reload');
                    $('#allotBillDetails').datagrid('reload');
                    $('#dlg_allot_modify').dialog('close');
                }, $('#dlg_allot_modify'));
        };
    };

    function confirmAllot() {
        $.ajaxSender.send('/StockOutBillAllot/AllotConfirm/',
                        { billNo: billNo },
                        function (data) {
                            $('#details').datagrid('reload');
                        }, $('#dlg-allot')); 
    }

    function cancelConfirm() {
        $.ajaxSender.send('/StockOutBillAllot/AllotCancelConfirm/',
                        { billNo: billNo },
                        function (data) {
                            $('#details').datagrid('reload');
                        }, $('#dlg-allot'));
    }
</script>

<div id="dlg-allot" class="easyui-dialog" modal="true"
        style="width:1000px;height:500px;padding:0px 0px"
        closed="true" buttons="" >
    <div class="easyui-layout" fit="true" >
        <div region="center" split="true"  border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">   
            <table class="easyui-datagrid" border="false" singleSelect="true" id="outBillDetails1" url="" toolbar="#bar"
                fit="true" fitColumns="true"  pagination="true" rownumbers="true" pageSize="50">
                <thead>
                    <tr>
                        <th field="ID" width="50" align="left" hidden="true">ID</th>
                        <th field="BillNo" width="80"  hidden="true">订单号</th>
                        <th field="ProductCode" width="100">商品编码</th>
                        <th field="ProductName" width="80" align="right">商品名称</th>
                        <th field="UnitCode" width="80" align="right">单位编码</th>
                        <th field="UnitName" width="80" align="right">单位名称</th>
                        <th field="BillQuantity" width="80" align="right">订单数量</th>
                        <th field="AllotQuantity" width="80" align="right">已分配数量</th>
                        <th field="RealQuantity" width="80" align="right">实际出库量</th>
                        <th field="Description" width="80" align="right">备注</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div region="south" split="true" border="false" style=" height:250px; border-top-style: solid; border-top-width: 1px; border-top-color: 99BBE8;">
            <table class="easyui-datagrid" border="false" singleSelect="true" id="allotBillDetails" url=""
                fit="true" fitColumns="true"  pagination="true" rownumbers="true" pageSize="50">
                <thead>
                    <tr>
                        <th field="ID" width="50" align="left" hidden="true">ID</th>
                        <th field="BillNo" width="80"  hidden="true">订单号</th>
                        <th field="ProductCode" width="100" align="right">商品编码</th>
                        <th field="ProductName" width="120" align="right">商品名称</th>
                        <th field="CellCode" width="80" align="right" hidden="true">储位编码</th>
                        <th field="CellName" width="100" align="right">储位名称</th>
                        <th field="StorageCode" width="80"  hidden="true">存储编码</th>
                        <th field="UnitCode" width="80" align="right" hidden="true">单位编码</th>
                        <th field="UnitName" width="80" align="right">单位名称</th>
                        <th field="AllotQuantity" width="80" align="right">分配数量</th>
                        <th field="RealQuantity" width="80" align="right">实际数量</th>
                        <th field="OperatePersonID" width="80" align="right">作业人员</th>
                        <th field="StartTime" width="80" align="right">开始时间</th>
                        <th field="FinishTime" width="80" align="right">完成时间</th>
                        <th field="Status" width="80" align="right">作业状态</th>
                        <th field="IsWholePallet" width="80" align="right" hidden="true">是否整托盘</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="bar" style="width: auto; height: auto; background-color: #FFFFFF;padding:4px 10px;" >库区
    <select class="easyui-combotree"
            name="language"
            url=""
            valueField="id"
            textField="text"
            multiple="true"
            panelHeight="auto"
            panelWidth="160px"
            id="area"></select>
    <a href="#" class="easyui-linkbutton" iconCls="icon-Menu_CheckBill" plain="true" onclick="allot()">自动分配</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-Menu_CheckBill" plain="true" onclick="manualAllot()">手动分配</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="cancelAllot()">取消分配</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="allotAdd()">手工增加</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="allotEdit()">手工修改</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="allotDelete()">手工删除</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="confirmAllot()">确认分配</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="cancelConfirm()">取消确认</a>
</div>

<div id="dlg_allot_modify" class="easyui-dialog" modal="true"
        style="width:290px;height:300px;padding:4px 4px"
        closed="true" buttons="#dlg_allot_modify_buttons" align="center">
        <form id="fm_allot" method="post" novalidate>
            <input type="hidden" name="ID" readonly="true"/>
            <table style="padding:10px 10px 0px 5px">
                <tr>
                    <td width ="60px">出库单号</td>
                    <td align="left"><input type="text" name="BillNo" readonly="true"/></td>
                  </tr>
                  <tr>
                    <td >产品代码</td>
                    <td align="left">
                        <input type="text" id="cellProductCode" name="ProductCode" readonly="true" />
                    </td>
                  </tr>
                  <tr>
                    <td >产品名称</td>
                    <td align="left"><input type="text" name="ProductName" class="easyui-validatebox" required="true" readonly="true"/></td>
                  </tr>
                  <tr>
                    <td >储位编码</td>
                    <td align="left">
                      <input type="text" name="CellCode" class="easyui-validatebox"  readonly="true" missingmessage="请选择储位！"/>
                      <a href="#" onclick="javascript:outCellSelect($('input[name=CellCode]'),$('input[name=CellName]'),$('input[name=StorageCode]'))" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                    </td>
                  </tr>
                  <tr>
                    <td >储位名称</td>
                    <td align="left"><input type="text" name="CellName" class="easyui-validatebox" readonly="true" /></td>
                  </tr>
                  <tr>
                    <td >单位编码</td>
                    <td align="left">
                        <input type="text" name="UnitCode" class="easyui-validatebox" required="true" readonly="true"/>
                    </td>
                  </tr>
                  <tr>
                    <td >单位名称</td>
                    <td align="left"><input type="text" name="UnitName" class="easyui-validatebox" required="true" readonly="true" /></td>
                  </tr>
                  <tr>
                    <td >分配数量</td>
                    <td align="left"><input type="text" name="AllotQuantity" id="allQuantity" class="easyui-numberbox" min="0" max="999999999" precision="2" required="true"/></td>
                  </tr>
                  <tr style="display:none">
                    <td >库存编码</td>
                    <td align="left"><input type="text" name="StorageCode" class="easyui-validatebox" readonly="true" /></td>
                  </tr>
                </table>
        </form>
</div>
<div id="manualAllot" class="easyui-dialog" modal="true"  style="width:1000px;height:500px;padding:4px 4px"closed="true">
        <div region="center" split="true" class="outDetail"  border="false" style="height:25%;border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">   
            <table class="easyui-datagrid" border="false" singleSelect="true" id="outBillDetail"
                fit="true" fitColumns="true"  pagination="true" rownumbers="true" pageSize="10">
                <thead>
                    <tr>
                        <th field="ID" width="50" align="left">分配号</th>
                        <th field="BillNo" width="80"  hidden="true">订单号</th>
                        <th field="ProductCode" width="100">商品编码</th>
                        <th field="ProductName" width="80" align="right">商品名称</th>
                        <th field="UnitCode" width="80" align="right">单位编码</th>
                        <th field="UnitName" width="80" align="right">单位名称</th>
                        <th field="BillQuantity" width="80" align="right">订单数量</th>
                        <th field="AllotQuantity" width="80" align="right">已分配数量</th>
                        <th field="RealQuantity" width="80" align="right">实际出库量</th>
                        <th field="Description" width="80" align="right">备注</th>
                    </tr>
                </thead>
            </table>
        </div> 
        <div style="width:200px; height:350px;float:left;margin:0 0 0 0px; border-top-width:0px; border:1px #99BBE8 solid; overflow:auto;">
            <ul id="warehouseTrees" class="ztree"></ul>
        </div>
        <div   style="width:750px;height:350px;float:left;margin:0 0 0 0px; border:1px #99BBE8; overflow:auto;">
            <div  id="drop" data-options="tools:'#p-tools'" style="padding:0px;"> </div>
        </div>
</div>
<div id="dlg_allot_modify_buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="AllotModifySave()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg_allot_modify').dialog('close')">取消</a>
</div>


