<script type="text/javascript">
    function SearchLoad() {
        $('#Status_Search').combo({
            editable: false,
            panelHeight: 100,
            panelWidth: 130
        });
        $('#isActive').combo({
            editable: false,
            panelHeight: 65,
            panelWidth: 130
        });
    }
    var searchDialog;
    function searchClick() {
        SearchLoad();
        $("input[type=text]").attr("value", "");
        $('#isActive').combo('setValue', "");
        $('#Status_Search').combobox('clear');
        if (searchDialog == null) {
            searchDialog = $('<div></div>').dialog({
                title: '查询',
                width: 300,
                height: 280,
                closed: true,
                cache: false,
                modal: true,
                href: '/Employee/SearchPage/',
                buttons: [{
                    text: '查询',
                    iconCls: 'icon-ok',
                    handler: function () {
                        var queryParams = $('#details').datagrid('options').queryParams;
                        queryParams.EmployeeCode = $('#EmployeeCode').val();
                        queryParams.EmployeeName = $('#EmployeeName').val();
                        queryParams.DepartmentID = $('#department-id').val();
                        queryParams.JobID = $('#job-id').val();
                        queryParams.Status = $('#Status_Search').combo('getValue');
                        queryParams.IsActive = $('#isActive').combo('getValue');
                        $('#details').datagrid('options').queryParams = queryParams;
                        $("#details").datagrid('load');
                        searchDialog.dialog('close');
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        searchDialog.dialog('close');
                    }
                }],
                onLoad: function () {
                }
            });
        }
        searchDialog.dialog('open');
    };

    function select() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.EmployeeCode = $('#EmployeeCode').val();
        queryParams.EmployeeName = $('#EmployeeName').val();
        queryParams.DepartmentID = $('#department-id').val();
        queryParams.JobID = $('#job-id').val();
        queryParams.Status = $('#Status_Search').combo('getValue');
        queryParams.IsActive = $('#isActive').combo('getValue');
        $('#details').datagrid('options').queryParams = queryParams;
        $('#details').datagrid({
            pageNumber: 1,
            pageSize: 10
        });
        $("#details").datagrid('reload');
        $('#dlg-search').dialog('close');
        $('#Status_Search').combobox('clear');
        $('#isActive').combobox('clear'); 
    }

</script>