<script type="text/javascript">
    $(function () {
        $('#userDetail').datagrid({
            //双击赋值
            onDblClickRow: function () {
                userSave();
            }
        })
        //属性初始化
        $('#queryTypeUser').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 100
        })
    });
    //选中赋值
    function userSave() {
        var userRow = $('#userDetail').datagrid('getSelected');
        if (userRow) {
            $('#user-add').val(userRow.UserName);
            $('#userData').dialog('close');
        }
        else {
            $.messager.alert('提示', '没有选择行!',"info");
        }
    }
    //根据条件查询
    function userQueryClick() {
        $("#userDetail").datagrid({
            url: '/User/GetUser/?queryString=' + $('#queryTypeUser').combogrid('getValue') + '&value=' + $('#userInfo').val()
        });
        $("#userDetail").datagrid('reload');
    }

</script>
<div id="userData" class="easyui-dialog" modal="true" style="width: 500px; height: 420px;
    padding: 0px 0px" closed="true" buttons="#dlgProduct-buttons">
    <div id="btnQuery">
        <select id="queryTypeUser" class="easyui-combobox" style="width: 100px;" readonly="true">
            <option value="UserName">用户名称</option>
            <option value="ChineseName">中文名称</option>
        </select>
        <input id="userInfo">
        <a href="#" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="userQueryClick()"
            id="userQuery">查询</a>
    </div>
    <div split="true" border="false" style="width: 486px; height: 320px;">
        <table id="userDetail" class="easyui-datagrid" border="false" toolbar="#btn-query"
            singleselect="true" fit="true" fitcolumns="true" pagination="true" rownumbers="true">
            <thead>
                <tr>
                    <th field="ID" hidden="true" width="60">
                        用户ID
                    </th>
                    <th field="UserCode" hidden="true" width="60">
                        用户编号
                    </th>
                    <th field="UserName" width="60">
                        用户名称
                    </th>
                    <th field="ChineseName" width="60">
                        中文名称
                    </th>
                    <th field="IsAdmin" width="60">
                        是否可用
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="dlgDepart-buttons" style="float:right; margin-top:10px; margin-right:10px;">
        <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="userSave()">确定</a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#userData').dialog('close')">
            取消</a>
    </div>
</div>
