@{
    Layout = null;
}
<div class="easyui-layout" fit="true" border="false">
    <div region="center" border="false" style="padding: 10px 10px; background: #fff;
        border: 1px solid #ccc;">
        <table width="250">
            <tr>
                <td width="60">
                    员工编码：
                </td>
                <td width="168" align="left">
                    <input id="EmployeeCode" type="text"/>
                </td>
            </tr>
            <tr>
                <td width="60">
                    员工名称：
                </td>
                <td width="168" align="left">
                    <input id="EmployeeName" type="text"/>
                </td>
            </tr>
            <tr>
                <td width="60">
                    部门名称：
                </td>
                <td width="168" align="left">
                    <input id="department-id" name="DepartmentID" type="text" style="display:none;"/>
                    <input id="department-name" name="DepartmentName" type="text" readonly="readonly"/>
                    <a href="#" id="departname-name" class="easyui-linkbutton" iconcls="icon-search"
                        plain="true" onclick="departNameSearchClick()"></a>
                </td>
            </tr>
            <tr>
                <td width="60">
                    岗位名称：
                </td>
                <td width="168" align="left">
                    <input id="job-id" name="JobID" type="text" style="display:none;"/>
                    <input id="job-name" name="JobName" type="text" readonly="readonly"/>
                    <a href="#" id="job-search" class="easyui-linkbutton" iconcls="icon-search" plain="true"
                        onclick="jobSearchClick()"></a>
                </td>
            </tr>
            <tr>
                <td>
                    状态：
                </td>
                <td>
                    <select id="Status_Search" name="Status" class="easyui-combobox" style="width: 130px">
                        <option value="">请选择</option>                       
                        <option value="3701">在职</option>
                        <option value="3702">离职</option>
                        <option value="3703">退休</option>
                        <option value="3704">试用</option>
                        <option value="3705">外调</option>
                        <option value="3706">停薪留职</option>
                        <option value="3707">借用</option>
                        <option value="3708">其他</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    是否可用：
                </td>
                <td>
                    <select id="isActive" name="IsActive" class="easyui-combobox" style="width: 130px">
                        <option value="">请选择</option>
                        <option value="1">可用</option>
                        <option value="0">不可用</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>
