<script type="text/javascript">
    function searchClick() {
        var datetime = "2012-10-22 11:00:04.000";
        window.location.href = "/Test1/InBillMasterHistory/?datetime=" + datetime;
    }
    function addClick() {
        var datetime = "2012-10-23";
        window.location.href = "/Test1/OutBillMasterHistory/?datetime=" + datetime;
    }
    function editClick() {
        var datetime = "2012-10-31";
        window.location.href = "/Test1/DailyBalanceHistory/?datetime=" + datetime;
    }
    function deleteClick() {
        alert(1);
        var datetime = "2012-10-23";
        window.location.href = "/Test1/MoveBillMasterHistory/?datetime=" + datetime;
    }
</script>
<div region="center">
</div>
