<script type="text/javascript">
    function searchClick() {
        window.location.href = "/Test1/Test1/";
        $.messager.alert('系统提示', 'OK', "info");
    }
</script>
<div region="center"></div>
