<script type="text/javascript">
    function searchClick() {
        //var datetime = "2012-10-22 11:00:04.000";//入库
        //var datetime = "2012-10-24"; //盘点
        var datetime = "2013-1-1"
        window.location.href = "/Test1/ProfitLossBillMasterHistory/?datetime=" + datetime;
    }
    function addClick() {
        var datetime = "2012-10-23"; //出库
        window.location.href = "/Test1/OutBillMasterHistory/?datetime=" + datetime;
    }
    function editClick() {
        var datetime = "2012-10-31"; //日结
        window.location.href = "/Test1/DailyBalanceHistory/?datetime=" + datetime;
    }
    function deleteClick() {
        var datetime = "2012-10-23"; //移库
        window.location.href = "/Test1/MoveBillMasterHistory/?datetime=" + datetime;
    }
</script>
<div region="center">
</div>
