<script type="text/javascript">
    function searchClick() {
        window.location.href = "/Test1/Test1/"
    }
</script>
<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" border="false" singleSelect="true" pageSize="50"
        fit="true" fitColumns="true" toolbar="#tool"  pagination="true" rownumbers="true">
    </table>
</div>
