<script type="text/javascript">
    function searchClick() {
        var datetime = "2012-11-3"; //入库
        window.location.href = "/Test1/InBillMasterHistory/?datetime=" + datetime;
    }
    function addClick() {
        var datetime = "2012-10-23"; //出库
        window.location.href = "/Test1/OutBillMasterHistory/?datetime=" + datetime;
    }
    function editClick() {
        var datetime = "2012-10-31"; //日结
        window.location.href = "/Test1/DailyBalanceHistory/?datetime=" + datetime;
    }
    function deleteClick() {
        var datetime = "2012-10-24"; //移库
        window.location.href = "/Test1/MoveBillMasterHistory/?datetime=" + datetime;
    }
    function printClick() {
//        var datetime = "2012-10-25"; //盘点
//        window.location.href = "/Test1/CheckBillMasterHistory/?datetime=" + datetime;

        var datetime = "2013-03-16"    //损益
        window.location.href = "/Test1/ProfitLossBillMasterHistory/?datetime=" + datetime;
    }
</script>
<div region="center">
</div>
