<script type="text/javascript">
    $(function () {
        $('#details').datagrid('options').onClickRow = function () {
            var row = $('#details').datagrid('getSelected');
            if (row) {
                $('#ledDetails').datagrid({ url: '/Led/Details/?LedCode=' + row.LedCode });

            } else {
                $.messager.show({ title: '系统提示', msg: '失败!请检查原因！' });
            }
        }
    });
</script>
<div region="center" split="true" border="false" style="border-bottom-style: solid;
    border-bottom-width: 1px; border-bottom-color: #99BBE8">
    <table class="easyui-datagrid" border="false" singleselect="true" id="details" url='/Led/Details/?LedType=1'
        fit="true" fitcolumns="true" toolbar="#tool" pagination="true" rownumbers="true"
        pagesize="50">
        <thead>
            <tr>
                <th field="LedCode" width="100">
                    Led屏编号
                </th>
                <th field="LedName" width="100">
                    Led屏名称
                </th>
                <th field="LedType" width="100">
                    Led类型
                </th>
                <th field="LedIp" width="120">
                    Led屏IP地址
                </th>
                <th field="SortingLineCode" width="100">
                    分拣线编号
                </th>
                <th field="XAxes" width="100">
                    X轴坐标
                </th>
                <th field="YAxes" width="100">
                    Y轴坐标
                </th>
                <th field="Width" width="100">
                    Led宽
                </th>
                <th field="Height" width="100">
                    Led高
                </th>
                <th field="OrderNo" width="100">
                    顺序号
                </th>
                <th field="Status" width="100">
                    状态
                </th>
            </tr>
        </thead>
    </table>
</div>
<div region="south" split="true" border="false" style="height: 250px; border-top-style: solid;
    border-top-width: 1px; border-top-color: 99BBE8;">
    <table class="easyui-datagrid" border="false" singleselect="true" id="ledDetails"
        url="" pagesize="50" fit="true" fitcolumns="true" pagination="true" rownumbers="true">
        <thead>
            <th field="LedCode" width="100" hidden="true">
                Led屏编号
            </th>
            <th field="SortingLineCode" width="100">
                分拣线编号
            </th>
            <th field="LedName" width="100">
                Led屏名称
            </th>
            <th field="LedType" width="100">
                Led类型
            </th>
            <th field="XAxes" width="100">
                X轴坐标
            </th>
            <th field="YAxes" width="100">
                Y轴坐标
            </th>
            <th field="Width" width="100">
                Led宽
            </th>
            <th field="Height" width="100">
                Led高
            </th>
            <th field="LedGroupCode" width="100">
                父级Led屏编号
            </th>
            <th field="OrderNo" width="100">
                顺序号
            </th>
            <th field="Status" width="100">
                状态
            </th>
            </tr>
        </thead>
    </table>
</div>
