<script type="text/javascript">
    var module = "StockInBillType";
    var searchKey = false;
    var addKey = false;
    var editKey = false;
    var deleteKey = false;
    $(function () {
        $('#IsActive').combo({
            editable: false,
            panelHeight: 65
        });
    })

    function searchClick() {
        $('#dlg-search').dialog('open').dialog('setTitle', '查询');
        searchKey = true;
        $("input[type=text]").attr("value", "");
        $('#IsActive').combo('setValue', "");
        searchLoad();
    };

    function select() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.BillTypeCode = $('#BillTypeCode').val();
        queryParams.BillTypeName = $('#BillTypeName').val();
        queryParams.IsActive = $('#IsActive').combo('getValue');
        $('#details').datagrid('options').queryParams = queryParams;
        $('#details').datagrid({
            pageNumber: 1,
            pageSize: 50
        });
        $("#details").datagrid('reload');
        $('#dlg-search').dialog('close');
    }
</script>
<script src="../../Scripts/mykeyboardshortcuts.js" type="text/javascript"></script>
<div id="dlg-search" class="easyui-dialog" modal="true" style="width:300px;height:210px;padding:2px 2px"
		closed="true" buttons="#dlg-buttons-search">
    <div class="easyui-layout" fit="true">
		<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >   
            <table width="250">
              <tr>
                <td width="80">订单类型编码</td>
                <td width="168" align="left"><input id="BillTypeCode" type="text"></td> 
              </tr>
              <tr>
                <td width="80">订单类型名称</td>
                <td width="168" align="left"><input id="BillTypeName" type="text"></td>
              </tr>
              <tr>
                <td>是否可用:</td>
                <td align="left">      
		            <select  id="IsActive" required="true" class="easyui-combobox" style="width: 100px" type="text">
                        <option value=""></option>
		                <option value="1">可用</option>
		                <option value="0">不可用</option>
	                </select>
	            </td>
              </tr>
            </table>
        </div>
    </div>
</div>
<div id="dlg-buttons-search">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="select()">查询</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-search').dialog('close')">取消</a>
</div>


