<div region="center" split="true" border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">    
    <table id="details" class="easyui-datagrid"
        url="/QuantityLimits/Details/" border="false" singleSelect="true" pageSize="50"
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="ProductCode" width="120" align="center">商品代码</th>
                <th field="ProductName" width="160" align="center">商品名称</th>
                 <th field="UnitCode" width="100" align="center">单位编码</th>
                <th field="UnitName" width="100" align="center">单位名称</th>
                <th field="Quantity" width="120" align="center">商品总数量</th> 
                <th field="MaxLimited" width="120" align="center">商品数量上限</th>
                <th field="MinLimited" width="120" align="center">商品数量下限</th>
            </tr> 
        </thead>
    </table>
</div>


 