<script type="text/javascript" src="/Content/Scripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/Content/Scripts/ckfinder/ckfinder.js"></script>

<script type="text/javascript">    
    window.onload = function () {
        CKEDITOR.replace('editor01');
    };
    ('editor01');

</script>
<div id="sidebar" region="west" split="true"  style="width: 220px; overflow: scroll; padding: 1px; margin: 1px">
    <ul id="warehouseTree" class="easyui-tree" url='/HelpEdit/GetHelpContent/'></ul>
</div>
<div region="center" split="true" border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8"> @*buttons="#buttons-save"> *@
   <form action="/Cell/GetCheckDetails/" method="post">
        <textarea rows="20" cols="40" name="editor01"></textarea>
        <div id="#buttons-save">
        <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="S_select()">提交</a>
        </div>
    </form>
 

</div>
