<script type="text/javascript">
    $(function () {
        $('#dlg-search').dialog('open').dialog('setTitle', '当前库存查询');
        $('#Tree').tree({ url: '/Distribution/GetProductTreeDetails/?productCode=' + "New" + '&unitType=' + "1" });
        $('#Tree').tree('reload');
        $('#dlg-search').dialog('close');
        $('#Tree').tree({
            onClick: function (node) {
                if (node) {
                    var AttributeId = node.attributes.AttributeId;
                    var AttributeProduct = node.attributes.AttributeProduct;
                    var AttributeUnit = node.attributes.AttributeUnit;
                    $('#treedetails').datagrid('options').url = '/Distribution/GetCellDetails/?type=' + AttributeId + '&id=' + node.id + '&productCode=' + AttributeProduct + '&unitType=' + AttributeUnit;
                    $('#treedetails').datagrid('reload');
                }
            }
        });
    });
</script>
<div id="sidebar" region="west"  title="商品清单" split="true" style="width: 260px; overflow: scroll; padding: 1px; margin: 1px">
    <ul id="Tree" class="ztree" url=''></ul>
</div>
<div region="center" split="true" border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">    
    <table id="treedetails" class="easyui-datagrid"  pageSize="50"
            url="/Distribution/GetCellDetails/" border="false" singleSelect="true"
                fit="true" toolbar="#tool"  pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="ProductCode" width="80" align="center">商品编码</th>
                <th field="ProductName" width="150" align="center">商品名称</th>
                <th field="CellName" width="80" align="center">货位名称</th>
                <th field="UnitName1" width="70" align="center">单位（件）</th>
                <th field="Quantity1" width="70" align="center">数量（件）</th>
                <th field="UnitName2" width="70" align="center">单位（条）</th>
                <th field="Quantity2" width="70" align="center">数量（条）</th>
                <th field="StorageTime" width="80" align="center">入库时间</th>
                <th field="StorageSequence" width="40" align="center">顺序</th>
            </tr>
        </thead>
    </table>
</div>