<script type="text/javascript">
    var module = "ProductWarning";
    var searchKey = false;
    var addKey = false;
    var editKey = false;
    var deleteKey = false;
    //选择产品信息
    function productSelect() {
        $('#productData').dialog('open').dialog('setTitle', '选择产品信息');
        $('#productDetail').datagrid({ url: '/StockInBill/GetProductDetails/' });
        $("#productDetail").datagrid('reload');
    }
    function searchClick() {
        $('#dlg-search').dialog('open').dialog('setTitle', '查询预警信息');
        searchKey = true;
        $("input[type=text]").attr("value", "");
        $('#IsActive').combo('setValue', "");
        searchLoad();
    };
    //选择单位信息
    function unitSelect() {
        var productCode = $('#productCode').val();
        if (productCode != "" && productCode != null) {
            $('#unitData').dialog('open').dialog('setTitle', '选择单位信息');
            $('#unitDetail').datagrid({ url: '/Unit/FindUnit/?productCode=' + productCode });
            $("#unitDetail").datagrid('reload');
        } else {
            $.messager.confirm('错误', '请先选择产品信息！');
        }
    }
    function select() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.ProductCode = $('#productCode').val();
        queryParams.MinLimited = $('#minLimited').val();
        queryParams.MaxLimited = $('#maxLimited').val();
        queryParams.MssemblyTime = $('#assemblyTime').val();
        $('#details').datagrid('options').queryParams = queryParams;
        $('#details').datagrid({
            pageNumber: 1,
            pageSize: 50
        });
        $("#details").datagrid('reload');
        $('#dlg-search').dialog('close');
    }
    </script>
<script src="../../Scripts/mykeyboardshortcuts.js" type="text/javascript"></script>
       <div id="dlg-search" class="easyui-dialog" modal="true"
        style="width:300px;height:380px;padding:2px 2px" closed="true" buttons="#dlg-search-buttons">
		<div class="easyui-layout" fit="true">
			<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >     
                    <table >
                        <tr>
                            <td>产品编码</td>
                            <td><input name="ProductCode" id="productCode" required="true" type="text">
                            <a href="#" onclick="productSelect()" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a></td>
                        </tr>
                        <tr>
                            <td>产品名称</td>
                            <td align="left"><input type="text" name="ProductName" class="easyui-validatebox" required="true" id="productName" readonly="true"/></td>
                        </tr>
                        <tr>
                        <td>单位编码</td>
                        <td align="left"><label>
                          <input type="text" name="UnitCode" class="easyui-validatebox" required="true" id="unitCode" readonly="true"/>
                          <a href="#" onclick="unitSelect()" class="easyui-linkbutton" iconcls="icon-search" plain="true" >
                        </label></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>单位名称</td>
                        <td align="left"><input type="text" name="UnitName" class="easyui-validatebox" required="true" id="unitName"  readonly="true" /></td>
                        <td></td>
                      </tr>
                        <tr>
                            <td>数量下限</td>
                            <td><input name="minLimited" id="minLimited" type="text"/></td>
                        </tr>
                        <tr>
                            <td>数量上限</td>
                            <td><input name="maxLimited" id="maxLimited" type="text"/></td>
                        </tr>
                        <tr>
                            <td>积压时间(天)</td>
                            <td><input name="assemblyTime" id="assemblyTime" type="text"/></td>
                        </tr>                  
                    </table>
            </div>
        </div>
    </div>
<div id="dlg-search-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="select()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-search').dialog('close')">取消</a>
</div>
@Html.Partial("_ProductPartial")
@Html.Partial("_UnitPartial")
