
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>货位利用分析</title>

		<script type="text/javascript" src="/Content/Scripts/jquery-easyui-1.3/jquery-1.7.2.min.js"></script>
		<script type="text/javascript">
       $(function () {
               var chart;
		        $(document).ready(function () {
		            chart = new Highcharts.Chart({
		                chart: {
		                    renderTo: 'container',
		                    plotBackgroundColor: null,
		                    plotBorderWidth: null,
		                    plotShadow: false,
		                },
		                title: {
		                    text: '货位利用分析'
		                },
		                tooltip: {
		                    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
		                    percentageDecimals: 1
		                },
		                plotOptions: {
		                    pie: {
		                        allowPointSelect: true,
		                        cursor: 'pointer',
		                        dataLabels: {
		                            enabled: true,
		                            color: '#000000',
		                            connectorColor: '#000000',
		                            formatter: function () {
		                                return '<b>' + this.point.name + '</b>: ' + this.percentage + ' %';
		                            }
		                        }
		                    }
		                },
		                series: [{
                            type: 'pie',
                            name: '货位利用率',
		                    data:[['主库区',50],['条烟区',30],['件烟区',20]]
                        }]
		            });
                         function getForm(){                               
                                 jQuery.getJSON('/CellAnalysis/Details', null, function(data) {   
                                     chart.series[0].setData(data);  
                                });  
                            }  
//                            $(document).ready(function() {  
//                                 window.setInterval(getForm,3000);   
//                            });  
		        });
               });
		</script>
	</head>
	<body>
<script src="/Content/Scripts/highcharts/highcharts.js" type="text/javascript"></script>
<script src="/Content/Scripts/highcharts/modules/exporting.js" type="text/javascript"></script>

<div id="container" style="min-width: 500px; height: 500px; margin: 0 auto"></div>

	</body>
</html>
