<script type="text/javascript">
    var searchDialog;
    var module = "Position";
    var searchKey = false;
    var addKey = false;
    var editKey = false;
    var deleteKey = false;
    var parentComNameKey = false;
    function SearchLoad() {
        $("#PositionType").combo({
            editable: false,
            panelHeight: 125,
            panelWith: 130
        })
        $("#State").combo({
            editable: false,
            panelHeight: 65,
            panelWith: 130
        })
    }
    function searchClick() {
        $("input[type=text]").attr("value", "");
        $('#State').combo('setValue', "");
        $('#PositionType').combo('setValue', "");
        if (searchDialog == null) {
            searchDialog = $('<div></div>').dialog({
                title: '查询',
                width: 300,
                height: 200,
                closed: true,
                cache: false,
                modal: true,
                href: '/Position/SearchPage/',
                buttons: [{
                    text: '查询',
                    iconCls: 'icon-ok',
                    handler: function () {
                        GetQueryParams();
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        searchDialog.dialog('close');
                    }
                }],
                onLoad: function () {
                    SearchLoad();
                }
            });
        }
        searchKey = true;
        searchDialog.dialog('open');
    };
    function GetQueryParams() {
     
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.PositionName = $('#PositionName').val();
        queryParams.PositionType = $('#PositionType').combo('getValue');
        queryParams.SRMName = $('#inputSRMName').val();
        queryParams.State = $('#State').combo('getValue');
        $('#details').datagrid('options').queryParams = queryParams;
        $("#details").datagrid('load');
        searchDialog.dialog('close');
    }
    function SRMNameSearchClick() {
        $('#sRMData').dialog('open').dialog('setTitle', '选择堆垛机名称');
        $('#sRMDetail').datagrid({ url: '/SRM/GetSRM/' });
        $("#sRMDetail").datagrid('reload');
    }
</script>
<script type="text/javascript" src="../../Scripts/mykeyboardshortcuts.js"></script>

