<script type="text/javascript">
    $(function () {

    });
</script>
<div region="center" split="true"  border="false">    
    <table id="details" class="easyui-datagrid" url="/Position/Details/" border="false" singleSelect="true"
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true" >
        <thead>
            <tr>
                <th field="ID" width="60" >位置编号</th>
                <th field="PositionName" width="60" >位置名称</th>
                <th field="PositionType" width="80">位置类型</th>
                <th field="RegionID" width="80" hidden="true">区域ID</th>   
                <th field="RegionName" width="80">区域名称</th>
                <th field="SRMName" width="70">堆垛机名称</th>
                <th field="TravelPos" width="65">行走位置</th>
                <th field="LiftPos" width="65" >升降位置</th>
                <th field="HasGoods" width="65">是否有货物</th>
                <th field="AbleStockOut" width="60">可否出库</th>
                <th field="AbleStockInPallet" width="75">可否叠空托盘</th>
                <th field="TagAddress" width="84" >电子标签地址</th>
                <th field="CurrentTaskID" width="70">当前任务ID</th>
                <th field="CurrentOperateQuantity" width="80">当前操作数量</th>
                <th field="ChannelCode" width="80">补货烟道代码</th>
                <th field="Extension" width="80">货叉伸位</th>
                <th field="State" width="55">状态</th>
                <th field="HasGetRequest" width="55">取货请求</th>
                <th field="HasPutRequest" width="55">放货请求</th>
                <th field="Description" width="50">描述</th>
            </tr>
        </thead>
    </table>
</div>

