@{
    Layout = null;
}

    <div class="easyui-layout" fit="true" border="false">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <table width="250">
                <tr>
                    <td width="75">
                        位置名称：
                    </td>
                    <td width="168">
                        <input id="PositionName" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td width="75">
                        位置类型：
                    </td>
                    <td width="168">
                        <select id="PositionType" class="easyui-combobox" style="width: 130px">
                                <option value="">请选择</option>
		                        <option value="01">正常位置</option>
		                        <option value="02">大品种出库位</option>
                                <option value="03">小品种出库位</option>
                                <option value="04">异性烟出库位</option>
                                <option value="05">空托盘出库位</option>
	                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="75">
                        堆垛机名称：
                    </td>
                    <td width="168">
                        <input id="SRMName" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td width="75">
                        状态:
                    </td>
                    <td width="168">
                        <select id="State" class="easyui-combobox" style="width: 130px">
                            <option value="">请选择</option>
                            <option value="01">可用</option>
                            <option value="02">不可用</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>




