<script type="text/javascript">
    function downloadClick() {
        $('#dlg_sorting_date').dialog('open').dialog('setTitle', '请选择时间');
        $('#beginDate').datebox({ editable: false });
        $('#endDate').datebox({ editable: false });
        $('#beginDate').datebox('setValue', "");
        $('#endDate').datebox('setValue', "");
        $('#batchID').attr("value", '')
        $('#SortingLineCode').combogrid({
            width: 130,
            panelWidth: 340,
            url: '/SortingLine/Details/?page=1&rows=20',
            idField: 'SortingLineCode',
            textField: 'SortingLineName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'SortingLineCode', title: '分拣线编码', align: 'left', width: 40 },
					{ field: 'SortingLineName', title: '分拣线名称', align: 'left', width: 40 },
                    { field: 'SortingLineType', title: '分拣线类型', align: 'left', width: 20 },
					{ field: 'IsActive', title: '是否可用', align: 'left', width: 20 }
				]]
        });
        $('#SortingLineCode').combogrid('clear');
    }

    function generateCheckClick() {
        var bat = $("#batchID").val();
        var begin = $('#beginDate').datebox('getValue');
        var end = $('#endDate').datebox('getValue');
        var sortCode = $('#SortingLineCode').combo('getValue');
        var isChecked = $("input[type='radio']:checked").val();
        var checked = true;
        if (isChecked == "false")
            checked = false;
        if (begin != "" && end != "" ) {
            var j_waitDialog = ShowWaitMessageDialog();
            $.ajax({
                url: "/SortingOrder/DownSortOrder/", type: "GET", dataType: "text",
                data: { 'beginDate': begin, "endDate": end, sortLineCode: sortCode, isSortDown: checked, batch: bat },
                complete: function () { HideWaitMessageDialog(j_waitDialog); },
                success: function (responseText) {
                    var result = $.evalJSON(responseText);
                    if (result.success) {
                        $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                        $("#details").datagrid('reload');
                        $('#dlg_sorting_date').dialog('close');
                    } else {
                        $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                        $("#details").datagrid('reload');
                        $('#dlg_sorting_date').dialog('close');
                    }
                }
            });
        } else {
            $.messager.alert('错误', '没选时间！请选择时间！');
        }
    }
</script>
<div id="dlg_sorting_date" class="easyui-dialog" modal="true"
        style="width:290px;height:210px;padding:4px 4px"
        closed="true" buttons="#dlg_allot_modify_buttons" align="center">
        <form id="fm_sorting_date" method="post" novalidate>           
            <table align="left" width="240">   
            <tr>
                <td width="60" style="text-align:right">选择下载:</td>
                <td style="text-align:center">
                <input id="radioSort" type="radio" name="r1" value="true"/>分拣</td>
                <td><input type="radio"  name="r1" value="false" checked="checked" />营销</td>
              </tr>         
              <tr>
                <td width="60" style="text-align:right">开始日期:</td>
                <td colspan="2"><input id="beginDate" class="easyui-datebox" type="text" style="width: 140px"/></td>
              </tr>
               <tr>
                <td width="60" style="text-align:right">结束日期:</td>
                <td colspan="2"><input id="endDate" class="easyui-datebox" type="text" style="width: 140px"/></td>
              </tr>
              <tr>
                <td width="80" style="text-align:right">下载批次：</td>
                <td colspan="2"><input type="text" id="batchID" style="width: 140px"/></td>
              </tr>
              <tr>
                <td width="80" style="text-align:right">分拣线名称：</td>
                <td colspan="2"><input type="text" id="SortingLineCode" style="width: 140px"/></td>
              </tr>              
            </table>
        </form>
</div>
<div id="dlg_allot_modify_buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="generateCheckClick()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg_sorting_date').dialog('close')">取消</a>
</div>