<script type="text/javascript">
    $(function () {
        cellDoubleClick();
    })

    //双击赋值
    function cellDoubleClick() {
        $('#cell-warehouseTree').tree({
            onDblClick: function (node) {
                if (node.attributes == "cell") {
                    cellSave();
                }
            }
        });
    }
    //浏览货位信息
    function cellQuery(p) {
        if (p == 1) {
            $('#dlg-cell').dialog('open').dialog('setTitle', '选择起始货位');
            type = 1;
        }
        else if (p == 2) {
            $('#dlg-cell').dialog('open').dialog('setTitle', '选择目标货位');
            type = 2;
        }
        $('#cell-warehouseTree').tree({ url: '/Cell/GetCellDetail/' }); //加载树形数据
    }
    //将选中的货位编码赋值给控件
    function cellSave() {
        var cellnode = $('#cell-warehouseTree').tree('getSelected');
        if (cellnode.attributes == "cell") {
            if (type == 1) {
                $('#originCellCode1').val(cellnode.id);
                $('#originCellName1').val(cellnode.text);
                $('#originCellCode2').val(cellnode.id);
                $('#originCellName2').val(cellnode.text);
            }
            else {
                $('#targetCellCode1').val(cellnode.id);
                $('#targetCellName1').val(cellnode.text);
                $('#targetCellCode2').val(cellnode.id);
                $('#targetCellName2').val(cellnode.text);
            }
            $('#dlg-cell').dialog('close');
        }
    }
</script>
<style type="text/css">
    #dlg-cell
    {
        width: 320px;
        height: 420px;
        padding: 1px 1px;
    }
    #sidebar
    {
        width: 220px;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: #99BBE8;
    }
</style>
<div id="dlg-cell" class="easyui-dialog" modal="true" closed="true" buttons="#dlg-cell-buttons">
    <div class="easyui-layout" fit="true">
        <div id="sidebar" region="center" border="false">
            <ul id="cell-warehouseTree" class="easyui-tree">
            </ul>
        </div>
    </div>
</div>
<div id="dlg-cell-buttons">
    <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="cellSave()">确定</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg-cell').dialog('close')">
        取消</a>
</div>