<script type="text/javascript">
    var Module = "TaskManage";

    $(function () {
        //双击赋值
        $('#positionDetail').datagrid({
            onDblClickRow: function () {
                positionSave();
            }
        })
        //属性初始化
        $('#queryType').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 100
        })
    });
    //选中赋值
    function positionSave() {
        var positionRow = $('#positionDetail').datagrid('getSelected');
        if (positionRow) {
            if (type == 1) {
                $('#originPositionID2').val(positionRow.ID);
                $('#originPositionName2').val(positionRow.PositionName);
                $('#currentPositionID2').val(positionRow.ID);
                $('#currentPositionName2').val(positionRow.PositionName);
            }
            else if (type == 2) {
                $('#targetPositionID2').val(positionRow.ID);
                $('#targetPositionName2').val(positionRow.PositionName);
            }
            else if (type == 3) {
                $('#currentPositionID2').val(positionRow.ID);
                $('#currentPositionName2').val(positionRow.PositionName);
            }
            $('#dlg-position').dialog('close');
        }
        else {
            $.messager.alert('提示', '没有选择行!', 'info');
        }
    }
    //查询
    function positionQueryClick() {
        $("#positionDetail").datagrid({
            url: '/Position/GetPosition/?queryString=' + $('#positionType').combogrid('getValue') + '&value=' + $('#positionInfo').val()
        });
        $("#positionDetail").datagrid('reload');
        editKey = true;
    }
</script>
<div id="dlg-position" class="easyui-dialog" modal="true" style="width: 500px; height: 420px;
    padding: 0px 0px" closed="true" buttons="#dlg-position-buttons">
    <div id="btnQuery">
        <select id="positionType" class="easyui-combobox" style="width: 100px;" readonly="true">
            <option value="PositionName">位置名称</option>
            <option value="PositionType">位置类型</option>
        </select>
        <input id="positionInfo">
        <a href="#" id="positionQuery" class="easyui-linkbutton" iconcls="icon-search" plain="true"
            onclick="positionQueryClick()">查询</a>
    </div>
    <div split="true" border="false" style="width: 486px; height: 320px;">
        <table id="positionDetail" class="easyui-datagrid" border="false" toolbar="#btn-query"
            singleselect="true" fit="true" fitcolumns="true" pagination="true" rownumbers="true">
            <thead>
                <tr>
                    <th field="ID" width="80">
                        位置ID
                    </th>
                    <th field="PositionName" width="80">
                        位置名称
                    </th>
                    <th field="PositionType" width="80">
                        位置类型
                    </th>
                    <th field="State" width="80">
                        是否可用
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="dlg-position-buttons">
        <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="productSave()">确定</a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg-position').dialog('close')">
            取消</a>
    </div>
</div>
