<script type="text/javascript">
    var Module = "TaskManage";

    $(function () {
        productInit();
        productDoubleClick();
    });
    //浏览商品信息
    function productQuery() {
        $('#dlg-product').dialog('open').dialog('setTitle', '选择商品');
        $('#productDetail').datagrid({ url: '/Product/Details/' });
        $("#productDetail").datagrid('reload');
    }

    //属性初始化
    function productInit() {
        $('#productType').combo({ required: true, editable: false, panelWidth: 100, panelHeight: 'auto' })
    }
    //选中赋值
    function productSave() {
        var productRow = $('#productDetail').datagrid('getSelected');
        if (productRow) {
            //AddPartial中的id
            $('#productCode1').val(productRow.ProductCode);
            $('#productName1').val(productRow.ProductName);
            //SearchPartial中的id
            $('#productCode2').val(productRow.ProductCode);
            $('#productName2').val(productRow.ProductName);
            $('#dlg-product').dialog('close');
        }
    }
    //双击赋值
    function productDoubleClick() {
        $('#productDetail').datagrid({
            onDblClickRow: function () {
                productSave();
            }
        })
    }
    //根据条件查询
    function productQueryClick() {
        $("#productDetail").datagrid({
            url: '/DefaultProductSet/GetProductBy/?QueryString=' + $('#productType').combogrid('getValue') + '&Value=' + $('#productInfo').val()
        });
        $("#productDetail").datagrid('reload');
    }
</script>
<style type="text/css">
    #dlg-product
    {
        width: 500px;
        height: 500px;
        padding: 0px 0px;
    }
    .divproinfo1
    {
        width: 486px;
        height: 430px;
    }
</style>
<div id="dlg-product" class="easyui-dialog" modal="true" closed="true" buttons="#dlg-product-buttons">
    <div id="btnQuery">
        <select id="productType" class="easyui-combobox" style="width: 100px;" readonly="true">
            <option value="ProductCode">卷烟编码</option>
            <option value="ProductName">卷烟名称</option>
        </select>
        <input id="productInfo">
        <a href="#" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="productQueryClick()"
            id="productQuery">查询</a>
    </div>
    <div split="true" border="false" class="divproinfo1">
        <table id="productDetail" class="easyui-datagrid" border="false" toolbar="#btn-query"
            pagesize="50" singleselect="true" fit="true" fitcolumns="true" pagination="true"
            rownumbers="true">
            <thead>
                <tr>
                    <th field="ProductCode" width="80">
                        卷烟编码
                    </th>
                    <th field="ProductName" width="100">
                        卷烟名称
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="dlg-product-buttons">
        <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="productSave()">确定</a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg-product').dialog('close')">
            取消</a>
    </div>
</div>
