<div region="center" split="true" border="false" >    
    <table id="details" class="easyui-datagrid" url="/TaskManage/Details/" border="false" singleSelect="true"
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true" pagesize="50">
        <thead>
            <tr>
                <th field="ID" width="40" >编号</th>
                
                <th field="ProductCode" width="80">商品代码</th>
                <th field="ProductName" width="150" >商品名称</th>

                <th field="OriginStorageName" width="80" >起始存储位</th>
                <th field="TargetStorageName" width="80" >目标存储位</th>

                <th field="OriginPositionID" hidden="true" width="80">起始位置ID</th>
                <th field="TargetPositionID" hidden="true" width="80">目标位置ID</th>
                <th field="CurrentPositionID" hidden="true" width="80">当前位置ID</th>

                <th field="OriginPositionName" width="55" >起始位置</th>                
                <th field="TargetPositionName" width="55" >目标位置</th>
                <th field="CurrentPositionName" width="55" >当前位置</th>
                <th field="CurrentPositionState" width="80" >当前位置状态</th>
                <th field="State" width="45" >状态</th>

                <th field="Quantity" width="45" >原数量</th>
                <th field="TaskQuantity" width="60" >任务数量</th>
                <th field="OperateQuantity" width="70" hidden="true">已操作数量</th>
                
                <th field="TaskType" width="60" >任务类型</th>

                <th field="OrderType" width="80" >原订单类型</th>
                <th field="OrderID" width="80" >原订单号</th>
                <th field="AllotID" width="80" >原订单分配号</th>
                
                <th field="PathID" width="80" hidden="true">路劲ID</th>
                <th field="OriginRegionName" width="80">起始区域</th>
                <th field="TargetRegionName" width="80">目标区域</th>

                <th field="DownloadState" width="80" >补货下载状态</th>
                <th field="TaskLevel" width="70" hidden="true">任务优先级</th>
                <th field="TagState" width="55" hidden="true">标签状态</th>

                <th field="StorageSequence" width="55" >库存顺序</th>

                <th field="CreateTime" width="125" >生成时间</th>
            </tr>
        </thead>
    </table>
</div>