<script type="text/javascript">
    var searchDialog;
    var module = "Size";
    var searchKey = false;
    var addKey = false;
    var editKey = false;
    var deleteKey = false;
    var parentComNameKey = false;

    function searchClick() {
        $('#pfm').form('clear');
        if (searchDialog == null) {
            searchDialog = $('<div></div>').dialog({
                title: '查询',
                width: 310,
                height: 180,
                closed: true,
                cache: false,
                modal: true,
                href: '/ProductSize/SearchPage/',
                buttons: [{
                    text: '查询',
                    iconCls: 'icon-ok',
                    handler: function () {
                        GetQueryParams();
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        searchDialog.dialog('close');
                    }
                }],
                onLoad: function () {
                }
            });
        }
        searchKey = true;
        searchDialog.dialog('open');
    };
    function GetQueryParams() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.ProductCode = $('#ProductCode').val();
        queryParams.SizeNo = $('#SizeNo').val();
        queryParams.AreaNo = $('#AreaNo').val();
        $('#details').datagrid('options').queryParams = queryParams;
        $("#details").datagrid('load');
        searchDialog.dialog('close');
    }

    function ProductSearchClick() {
        $('#productData').dialog('open').dialog('setTitle', '商品名称');
        $('#productDetail').datagrid({ url: '/Product/GetProductBy/' });
        $("#productDetail").datagrid('reload');
    }
    function SizeSearchClick() {
        $('#sizeData').dialog('open').dialog('setTitle', '件烟尺寸信息');
        $('#sizeDetail').datagrid({ url: '/Size/GetSize/' });
        $("#sizeDetail").datagrid('reload');
    }
</script>
<script type="text/javascript" src="../../Scripts/mykeyboardshortcuts.js"></script>
