@{
    Layout = null;
}
<div class="easyui-layout" fit="true" border="false">
    <div region="center" border="false" style="width: 280; height: 250px; padding: 10px 10px;
        background: #fff; border: 1px solid #ccc;">
        <form id="fm" method="post">
        <table>
            <tr>
                <input name="ID" style="display: none" />
                <td width="75" align="right">
                    商品名称：
                </td>
                <td width="168">
                    <input id="productCode2" name="ProductCode" class="easyui-validatebox" required="true"
                        readonly="readonly" style="display: none" />
                    <input id="productName2" name="ProductName" class="easyui-validatebox" required="true"
                        readonly="readonly" />
                    <a href="#" id="ProductSearch" class="easyui-linkbutton" iconcls="icon-search" plain="true"
                        onclick="productQuery()"></a>
                </td>
            </tr>
            <tr>
                <td width="75" align="right">
                    商品简码：
                </td>
                <td width="168">
                    <input name="ProductNo" id="ProductNo"/>
                </td>
            </tr>
            <tr>
                <td width="75" align="right">
                    长度
                </td>
                <td>
                    <input name="Length" id="inputLength" class="easyui-numberbox" min="0" max="999999999"
                        required="true" missingmessage="必须为数字" />
                </td>
            </tr>
            <tr>
                <td width="75" align="right">
                    宽度
                </td>
                <td>
                    <input name="Width" id="inputWidth" class="easyui-numberbox" min="0" max="999999999"
                        required="true" missingmessage="必须为数字" />
                </td>
            </tr>
            <tr>
                <td width="75" align="right">
                    高度
                </td>
                <td>
                    <input name="Height" id="inputHeight" class="easyui-numberbox" min="0" max="999999999"
                        required="true" missingmessage="必须为数字" />
                </td>
            </tr>
            <tr>
                <td width="75" align="right">
                    存储库区号：
                </td>
                <td width="168">
                    <select id="inputAreaNo" name="AreaNo" class="easyui-combobox" panelheight="auto"
                        required="true" editable="false">
                        <option value="1">密集库一区</option>
                        <option value="2">密集库二区</option>
                        <option value="3">大品种一区</option>
                        <option value="4">大品种二区</option>
                        <option value="5">小品种</option>
                        <option value="6">异型烟</option>
                    </select>
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>
@Html.Partial("_ProductPartial");
@Html.Partial("_SizePartial");