@{
    Layout = null;
}
<div class="easyui-layout" fit="true" border="false">
	<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " > 
      <form id="fm" method="post" >  
        <table width="280">
                    <tr>
                    <td width="75" align="right">商品ID：</td>
                    <td width="168">
                    <input name="ID" id="inputID" type="text" readonly="readonly" value="自动增长"/>
                    <input name="ID"  style="display:none" /></td>
                    </tr>

                    <tr>
                    <td width="75" align="right">商品代码：</td>
                    <td width="168">
                    <input name="ProductCode" id="inputProductCode" class="easyui-validatebox" required="true" type="text"/>
                    <input name="ID"  style="display:none" /></td>    
                    </tr>

                    <tr>
                    <td width="75" align="right">件烟尺寸编号：</td>
                    <td width="168">
                    <input name="SizeNo" id="inputSizeNo" class="easyui-numberbox" min="0" max="999999999" required="true" type="text" missingmessage="请输入面积（必须为数字）"/>
                    <input name="ID"  style="display:none" /></td>    
                    </tr>

                    <tr>
                    <td width="75" align="right">存储库区号：</td>
                    <td width="168">
                    <input name="AreaNo" id="inputAreaNo" class="easyui-numberbox" min="0" max="999999999" required="true" type="text" missingmessage="请输入面积（必须为数字）"/>
                    <input name="ID"  style="display:none" /></td>    
                    </tr>

                </table>
            </form>
    </div>
</div>
