<script type="text/javascript">
    $(function () {

    });
</script>
<div region="center" split="true" border="false" >    
    <table id="details" class="easyui-datagrid" url="/ProductSize/Details/"  border="false" singleSelect="true" fit="true" toolbar="#tool"  pagination="true" rownumbers="true" >
        <thead>
            <tr>
                <th field="ID" width="100" >商品ID</th>
                <th field="ProductCode" width="180" >商品代码</th>
                <th field="ProductNo" width="180" >商品简码</th>
                <th field="ProductName" width="180" >商品名称</th>
                <th field="SizeNo" width="100">件烟尺寸编号</th>   
                <th field="AreaNo" width="100">存储库区号</th>   
            </tr>
        </thead>
    </table>
</div>

