<script type="text/javascript">
    $(function () {

    });
</script>
<div region="center" split="true" border="false">
    <table id="details" class="easyui-datagrid" url="/ProductSize/Details/" border="false"
        singleselect="true" fit="true" toolbar="#tool" pagination="true" rownumbers="true"
        fitcolumns="true">
        <thead>
            <tr>
                <th field="ID" width="60" hidden="true">
                </th>
                <th field="ProductCode" width="80">
                    商品代码
                </th>
                <th field="ProductName" width="150">
                    商品名称
                </th>
                <th field="ProductNo" width="200">
                    商品简码
                </th>
                <th field="Length" width="40">
                    长度
                </th>
                <th field="Width" width="40">
                    宽度
                </th>
                <th field="Height" width="100">
                    高度
                </th>
                <th field="AreaNo" width="100">
                    存储库区号
                </th>
            </tr>
        </thead>
    </table>
</div>
