@{
    Layout = null;
}
<div class="easyui-layout" fit="true" border="false">
	<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >   
      <form id ="pfm">
        <table width="280">
                    <tr>
                    <td width="75" align="right">商品代码：</td>
                    <td width="168"><input id="ProductCode" type="text"/>
                    </td>
                    </tr> 

                    <tr>
                    <td width="75" align="right">件烟尺寸编号：</td>
                    <td width="168"><input id="SizeNo" type="text" />
                    </td>
                    </tr> 

                    <tr>
                    <td width="75" align="right">存储库区号：</td>
                    <td width="168"><input id="AreaNo" type="text" />
                    </td>
                    </tr> 

                </table>
        </form>
    </div>
</div>
