<script type="text/javascript">
    var url;
   
    function getTime() {
        var d = new Date();
        var vYear = d.getFullYear();
        var vMon = d.getMonth() + 1;
        var vDay = d.getDate();
        var h = d.getHours();
        var m = d.getMinutes();
        t = vYear + "-" + (vMon < 10 ? "0" + vMon : vMon) + "-" + (vDay < 10 ? "0" + vDay : vDay) + " " + (h < 10 ? "0" + h : h) + ":" + (m < 10 ? "0" + m : m);
        return t;
    }

    function addClick() {



        $('#OrderDate').attr("readonly", true);
        $('#OperateDate').attr("readonly", true);

        $.getJSON("/StockInBill/GenInBillNo/", function (json) {
            if (json) {
                $('#dlg').dialog('open').dialog('setTitle', '新增');
                addKey = true;
                $('#fm').form('clear');
                $('#addOperatePersonId').val(json.employeeID);
                $('#OperatePersonID').val(json.employeeName);


                $('#addVerifyPersonId').val(json.employeeID);
                $('#VerifyPersonId').val(json.employeeName);


                $('#OrderDate').val(getTime());
                $('#OperateDate').val(getTime());
                $('#fm.easyui-validatebox').validatebox({
                    required: true
                });
                $('form input').removeAttr("disabled");
                $('form textarea').removeAttr("disabled");



                $('#cc').combo({
                    hasDownArrow: true
                });
                url = '/Batch/Create/';
            } else {
                $.messager.show({ title: '系统提示', msg: '失败!请检查原因！' });
            }
        });
    };

    //保存
    function save() {
            $('#fm').form('submit', {
                url: url,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    var result = eval('(' + result + ')');
                    if (result.success) {
                        $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                        addKey = false;
                        editKey = false;
                        $('#dlg').dialog('close');
                        $('#details').datagrid('reload');
                       
                    } else {
                        $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                        addKey = false;
                        editKey = false;
                        $('#details').datagrid('reload');
                    }
                }
            });
        
    }

</script>

<div id="dlg" class="easyui-dialog" modal="true" style="width:510px;height:300px;padding:10px 10px" closed="true" buttons="#dlg-buttons">
	
        <form id="fm" method="post" novalidate>
         <table width="480">
            <tr  hidden="true">
               <th width="100">
                    ID
                </th>
                <td>
                    <input name="BatchId"/>
                </td>
                <td></td>
                <td></td>
             </tr>
             <tr>
                <td width="60">
                    订单日期:
                </td>
                <td width="168">
                    <input id="OrderDate" name="OrderDate" type="text" class="easyui-validatebox"    readonly="readonly" />
                   
                </td>
                <td width="60">
                    操作日期：
                </td>
                <td width="168">
                    <input id="OperateDate" name="OperateDate" type="text" class="easyui-validatebox"   readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td width="60">
                    批次号：
                </td>
                <td width="168">
                    <input name="BatchNo" class="easyui-validatebox"  required="true"  />
                </td>
                <td width="60">
                    批次名称:
                </td>
                <td width="168">
                    <input name="BatchName" class="easyui-validatebox" validtype="maxLength[50]" required="true" />
                </td>
            </tr>
            <tr>
                <td width="60">
                    操作人员:
                </td>

                 <td width="168"><input name="OperatePersonName" readonly="true" id="OperatePersonID"/>
                <input name="OperatePersonId" readonly="true" id="addOperatePersonId"  style="display: none" />
                <td width="60">
                    审核人员:
                </td>
                <td width="168">
                    <input name="VerifyPersonName"  id="VerifyPersonId" readonly="readonly"/>
                     <input name="VerifyPersonId"  id="addVerifyPersonId" style="display: none" />                             
                </td>
            </tr>
            <tr>
                <td width="60">
                    优化调度：
                </td>
                <td width="168">
                    <input id="OptimizeSchedule" name="OptimizeSchedule" readonly="readonly"/>                     
                </td>
                <td width="60">
                    一号工程：
                </td>
                <td width="168">
                    <input id="ProjectBatchNo" name="ProjectBatchNo"  readonly="readonly"/>
                     
                </td>
            </tr>
            <tr>
                <td width="60">
                    状态：
                </td>
                <td width="168">
                    <input id="aState" name="State"  readonly="readonly"/>
                    
                </td>
            </tr>
            <tr>
                <td width="60">
                    描述:
                </td>
                <td width="168" colspan="3">
                    <textarea name="Description" id="adddesId" style="width: 367px; height: 60px"></textarea>
                </td>
            </tr>
        </table> 
        </form>   
    </div>

<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>