<script type="text/javascript">
    var url;
    var addDialog;

    //加载新增、编辑和删除窗体
    function showDialog(title) {
        if (addDialog == null) {
            addDialog = $('<div></div>').dialog({
                title: title,
                width: 280,
                height: 220,
                closed: true,
                cache: false,
                modal: true,
                href: '/Batch/AddPage/',
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        save();
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        addDialog.dialog('close');
                    }
                }],
                onLoad: function () {
                    if (title == '编辑') {
                        var erow = $('#details').datagrid('getSelected');
                        $('#fm').form('load', erow);
                        $('#inputBatchId').attr("disabled", 'disabled');
                    }
                    else if (title == '删除') {
                        var drow = $('#details').datagrid('getSelected');
                        $('#fm').form('load', drow);
                        $('form input').attr("disabled", "disabled");
                        $('form textarea').attr("disabled", "disabled");
                    }
                }
            });
        }
        else {
            addDialog.dialog({ title: title });
        }
    }

    function addClick() {
        showDialog('新增');
        addKey = true;
        addDialog.dialog('open');

        $('form input').removeAttr("disabled"); //removeAttr() 方法从被选元素中移除属性。
        $('form textarea').removeAttr("disabled");
        $('#fm').form('clear');
        url = '/Batch/Create/';
    };

    function save() {
        if ($("#inputDescription").val().length > 200) {
            $.messager.alert("提示", "描述应小于200个字(包括空格)", "info");
            return false
        }
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    addKey = false;
                    editKey = false;
                    addDialog.dialog('close');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    addKey = false;
                    editKey = false;
                    $('#details').datagrid('reload');
                }
            }
        });
    }
</script>
