<script type="text/javascript">
    var searchDialog;
    var module = "Batch";
    var searchKey = false;
    var addKey = false;
    var editKey = false;
    var deleteKey = false;
    var parentComNameKey = false;

    function searchClick() {
        $("input[type=text]").attr("value", "");
        if (searchDialog == null) {
            searchDialog = $('<div></div>').dialog({
                title: '查询',
                width: 280,
                height: 190,
                closed: true,
                cache: false,
                modal: true,
                href: '/Batch/SearchPage/',
                buttons: [{
                    text: '查询',
                    iconCls: 'icon-ok',
                    handler: function () {
                        GetQueryParams();
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        searchDialog.dialog('close');
                    }
                }]
            });
        }
        searchKey = true;
        searchDialog.dialog('open');
    };
    function GetQueryParams() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.BatchId = $('#BatchId').val();
        queryParams.Description = $('#Description').val();
        $('#details').datagrid('options').queryParams = queryParams;
        $("#details").datagrid('load');
        searchDialog.dialog('close');
    }
</script>
