<div region="center" split="true" border="false">
    <table id="details" class="easyui-datagrid" url="/Batch/Details/" border="false" singleselect="true"
        pagesize="50" fit="true" fitcolumns="true" toolbar="#tool" pagination="true" rownumbers="true">
        <thead>
            <tr>
               
                <th field="BatchId" width="100">报警/警告编码</th>              
                 <th field="BatchName" width="100">报警/警告编码</th>
                  <th field="BatchNo" width="100">报警/警告编码</th>
                    <th field="Description" width="500">描述</th>
            </tr>
        </thead>
    </table>
</div>
