@{
    Layout = null;
}
   <div class="easyui-layout" fit="true" border="false">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <table width="250">
            <tr>
                <td width="60" align="right">批次号：</td>
                <td width="160" align="left">
                    <input id="searchBatchNo" class="easyui-validatebox"  type="text"/>
                </td>
            </tr> 
            <tr>
                <td width="60" align="right">批次名称：</td>
                <td width="160" align="left">
                    <input id="searchBatchName" class="easyui-validatebox" type="text"/>
                </td>
            </tr> 
             <tr>
                <td width="60">订单日期:</td>
                <td align="left"><input id="searchOrderDate" type="text" class="easyui-datebox" style="width:130px;" /></td>
              </tr>
               <tr>
                <td width="60">操作日期:</td>
                <td align="left"><input id="searchOperateDate" type="text" class="easyui-datebox" style="width:130px;" /></td>
              </tr>               
         </table>
    </div>
</div>
