<script type="text/javascript">
    var module = "organization";
    var searchKey = false;
    var addKey = false;
    var editKey = false;
    var deleteKey = false;
    function SearchLoad() {
        $('#isActive').combo({
            editable: false,
            panelHeight: 45,
            panelWidth: 130
        });
    }
    var searchDialog;
    function searchClick() {
        SearchLoad();
        $("input[type=text]").attr("value", "");
        $('#isActive').combo('setValue', "");
        $('#companyType').combo('setValue', "");
        if (searchDialog == null) {
            searchDialog = $('<div></div>').dialog({
                title: '查询',
                width: 300,
                height: 260,
                closed: true,
                cache: false,
                modal: true,
                href: '/Department/SearchPage/',
                buttons: [{
                    text: '查询',
                    iconCls: 'icon-ok',
                    handler: function () {
                        GetQueryParams();
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        searchDialog.dialog('close');
                    }
                }],
                onLoad: function () {
                }
            });
        }
        searchKey = true;
        searchDialog.dialog('open');
    }
    function GetQueryParams() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.DepartmentCode = $('#DepartmentCode').val();
        queryParams.DepartmentName = $('#DepartmentName').val();
        queryParams.DepartmentLeaderID = $('#employeename-id').val();
        queryParams.CompanyID = $('#companyname-id').val();
        $('#details').datagrid('options').queryParams = queryParams;
        $("#details").datagrid('load');
        searchDialog.dialog('close');
    }
</script>
<script type="text/javascript" src="../../Scripts/mykeyboardshortcuts.js"></script>
