@{
    Layout = null;
}
    <div class="easyui-layout" fit="true" border="false">
        <div region="center" border="false" style="padding: 10px 10px; background: #fff;
            border: 1px solid #ccc;">
            <form id="fm" method="post" novalidate>
            <table width="500">
                <tr>
                    <td width="60" align="right">
                        部门编码：
                    </td>
                    <td width="168">
                        <input name="DepartmentCode" id="inputDepartCode" class="easyui-validatebox" validtype="maxLength[8]"
                            required="true" /><input name="ID" style="display: none" />
                    </td>
                    <td width="60" align="right">
                        部门名称：
                    </td>
                    <td width="168">
                        <input name="DepartmentName" class="easyui-validatebox" validtype="maxLength[50]"
                            required="true" />
                    </td>
                </tr>
                <tr>
                    <td align="right" width="80">
                        负责人：
                    </td>
                    <td width="168">
                        <input name="DepartmentLeaderID" id="employeeId" style="display: none;" />
                        <input name="EmployeeName" id="employeeName" readonly="readonly" class="easyui-validatebox" />
                        <a href="#" id="departmentLeaderSearch" class="easyui-linkbutton" iconcls="icon-search"
                            plain="true" onclick="departmentLeaderSearchClick()"></a>
                    </td>
                    <td align="right">
                        公司名称：
                    </td>
                    <td width="168">
                        <input name="CompanyID" id="companyId" style="display: none;" />
                        <input name="CompanyName" id="companyName" readonly="readonly" class="easyui-validatebox" required="true"/>
                        <a href="#" id="companySearch" class="easyui-linkbutton" iconcls="icon-search" plain="true"
                            onclick="companySearchClick()"></a>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        上级部门：
                    </td>
                    <td>
                        <input name="ParentDepartmentID" id="parentDepartId" style="display: none;" />
                        <input name="ParentDepartmentName" id="parentDepartName" readonly="readonly" class="easyui-validatebox" required="true"/>
                        <a href="#" id="parentCodeSearch" class="easyui-linkbutton" iconcls="icon-search"
                            plain="true" onclick="parentCodeSearchClick()"></a>
                    </td>
                    <td align="right">
                        是否可用：
                    </td>
                    <td>
                        <select id="isActive_depart" name="IsActive" class="easyui-combobox" style="width: 129px">
                            <option value="1">可用</option>
                            <option value="0">不可用</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        统一编码：
                    </td>
                    <td width="168" colspan="3">
                        <input name="UniformCode" required="true" type="text" />
                    </td>
                </tr>
                <tr>
                    <td width="60" align="right">
                        描述：
                    </td>
                    <td width="168" colspan="3">
                        <textarea name="Description" id="desId" style="width: 366px; height: 80px"></textarea>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
@Html.Partial("_ParentCodePartial")
@Html.Partial("_DepartmentLeaderPartial")
@Html.Partial("_CompanyPartial")

