@{
    ViewBag.Title = "发生错误";
}
<table>
    <tr>
        <td>
            <h2>发生错误!</h2>
        </td>
    </tr>
    <tr align>
        <td>
            <p style="color:Blue; font-size:20px;">@ViewBag.ErrorLog</p>
        </td>
    </tr>
</table>
