@{
    ViewBag.Title = "发生错误";
}
<div style=" text-align:center; margin-left:30%; margin-top:15%; font-size:12px;">
    <table>
        <tr>
            <td>
                <h2>
                    发生错误!</h2>
            </td>
        </tr>
        <tr>
            <td>
                <p style="color: Blue; font-size: 20px;">@ViewBag.ErrorLog</p>
            </td>
        </tr>
    </table>
</div>
