@{
    ViewBag.Title = "发生错误";
}
<div>
    <table>
        <tr>
            <td>
            <div>
                <input  type="image" style=" width:400px; height:300px" src="../../Content/Images/error.jpg"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p style="color: Red; font-size: 30px;">@ViewBag.ErrorLog</p>
            </td>
        </tr>
    </table>
</div>
