@{
    ViewBag.Title = "未授权";
}

<div>
    <table>
        <tr>
            <td>
            <div>
                <input  type="image" style=" width:400px; height:300px" src="../../Content/Images/Unauthorized.jpg"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p style="color: Red; font-size: 30px;">@ViewBag.UnauthorizedLog</p>
            </td>
        </tr>
    </table>
</div>

