<div region="center" split="true" border="false">
    <table id="details" class="easyui-datagrid" url="/AutomotiveConfig/GetAutomotiveConfig/" border="false" singleselect="false"
        pagesize="50" fit="true" fitcolumns="true" toolbar="#tool" pagination="true"
        rownumbers="true">
        <thead>
            <tr>
                <th field="ID" width="80">
                    ID
                </th>
                <th field="ParameterName" width="80">
                    参数名
                </th>
                <th field="ParameterValue" width="80">
                    参数值
                </th>
                <th field="Remark" width="80">
                    备注
                </th>
                <th field="Username" width="80">
                    用户名
                </th>
            </tr>
        </thead>
    </table>
</div>
