<script src="/Content/Scripts/highstock/highstock.js" type="text/javascript"></script>
<script src="/Content/Scripts/highstock/modules/exporting.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $.getJSON('/StorageAnalysis/Details/', function (data) {
            var arr = new Array();
            for (var i in data) {
                arr.push([data[i].TimeInter, data[i].TotalQuantity]);
            }
            window.chart = new Highcharts.StockChart({
                chart: {
                    renderTo: 'container'
                },

                rangeSelector: {
                    selected: 1
                },

                title: {
                    text: '库存变化分析'
                },

                yAxis: {
                    title: {
                        text: '库存总量（件）'
                    },
                    plotLines: [{
                        value: 6000,
                        color: 'yellow',
                        dashStyle: 'shortdash',
                        width: 2,
                        label: {
                            text: '黄色警报线'
                        }
                    }, {
                        value: 7500,
                        color: 'red',
                        dashStyle: 'shortdash',
                        width: 2,
                        label: {
                            text: '红色警报线'
                        }
                    }]
                },
                exporting: {
                    url: '/HighchartsExport.axd/',
                    filename: '库存变化分析图',
                    width: 1200
                },
                series: [{
                    name: '库存总量',
                    data: arr,
                    marker: {
                        enabled: true,
                        radius: 3
                    },
                    shadow: true,
                    tooltip: {
                        valueDecimals: 2
                    }
                }]
            });
        });
    });
</script>
<div region="center" split="true"  border="false" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #99BBE8">  
<div id="container" style="height: 470px; min-width: 500px"></div>
</div>


