<script type="text/javascript">
    $(function () {

    });
</script>
<div region="center" split="true" border="false">
    <table id="details" class="easyui-datagrid" url="/Customer/Details/" border="false"
        singleselect="true" pagesize="50" fit="true" toolbar="#tool" pagination="true"
        rownumbers="true">
        <thead>
            <tr>
                <th field="CustomerCode" width="100">
                    客户编码
                </th>
                <th field="CustomCode" width="100" hidden="true">
                    自定义编码
                </th>
                <th field="CustomerName" width="120" >
                    客户名称
                </th>
                <th field="CompanyCode" width="130">
                    所属单位编码
                </th>
                <th field="SaleRegionCode" width="100" >
                    营销部编码
                </th>
                <th field="UUniformCode" width="120" hidden="true">
                    统一编码
                </th>
                <th field="CustomerType" width="100">
                    客户类型
                </th>
                <th field="SaleScope" width="120" hidden="true">
                   客户规模
                </th>
                <th field="IndustryType" width="100" hidden="true">
                   经营业态
                </th>
                <th field="CityOrCountryside" width="100">
                    商品类型编码
                </th>
                <th field="PackTypeCode" width="100" hidden="true">
                    城乡分类
                </th>
                <th field="DeliverLineCode" width="100" hidden="true">
                   送货线路编码
                </th>
                <th field="DeliverOrder" width="100" >
                    送货顺序
                </th>
                <th field="Address" width="100" >
                    送货地址
                </th>
                <th field="Phone" width="100" hidden="true"hidden="true">
                    联系电话
                </th>
                <th field="LicenseType" width="100" hidden="true">
                    许可证种类
                </th>
                <th field="LicenseCode" width="100" hidden="true" >
                    许可证号
                </th>
                <th field="PrincipalName" width="100" hidden="true">
                    负责人姓名
                </th>
                <th field="PrincipalPhone" width="100" hidden="true">
                    负责人联系电话
                </th>
                <th field="PrincipalAddress" width="100" hidden="true">
                   负责人当前住址
                </th>
                <th field="ManagementName" width="100" hidden="true">
                   经营者姓名
                </th>
                <th field="ManagementPhone" width="100" hidden="true">
                    经营者联系电话
                </th>
                <th field="Bank" width="100" hidden="true">
                    代扣银行
                </th>
                <th field="BankAccounts" width="100" hidden="true">
                    代扣银行帐号
                </th>
                <th field="Description" width="100" hidden="true">
                    描述
                </th>
                <th field="IsActive" width="100" >
                    是否可用
                </th>
                <th field="UpdateTime" width="100" hidden="true">
                    更新时间
                </th>
            </tr>
        </thead>
    </table>
</div>
