<div region="center" split="true" border="false">
    <table id="details" class="easyui-datagrid" fit="true" fitcolumns="true" singleselect="true"
        pagination="true" pagesize="50" rownumbers="true" toolbar="#tool" url="/SplitPalletCell/Details/">
        <thead>
            <tr>
                <th field="CellCode" width="60">
                    货位编码
                </th>
                <th field="CellName" width="200">
                    货位名称
                </th>
                <th field="DefaultProductCode" width="40">
                    预设卷烟
                </th>
                <th field="DefaultProductName" width="300">
                    预设卷烟
                </th>
            </tr>
        </thead>
    </table>
</div>
