@{
    Layout = null;
}
<div class="easyui-layout" fit="true" border="false">
	<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; "> 
        <table  border="0" cellspacing="10" cellpadding="10" width="250">
            <tr>
                <td width="60" align="right">报警编码：</td>
                <td width="160" align="left">
                    <input id="AlarmCode" class="easyui-validatebox"  type="text"/>
                </td>
            </tr> 
            <tr>
                <td width="60" align="right">描 &nbsp&nbsp 述：</td>
                <td width="160" align="left">
                    <input id="Description" class="easyui-validatebox" type="text"/>
                </td>
            </tr>                
         </table>
    </div>
</div>
