<script type="text/javascript">
    $(function () {

    });
</script>
<div region="center" split="true"  border="false">    
    <table id="details" class="easyui-datagrid" url="/DeliverDist/Details/" border="false" singleSelect="true" pageSize="50"
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true" >
        <thead>
			<tr>
                <th field="DistCode"  width="100" hidden="true">配送区域编码</th>
                <th field="CustomCode" width="100">自定义编码</th>
                <th field="DistName" width="120">配送区域名称</th>
                <th field="DistCenterCode" width="130">配送中心编码</th>
                <th field="CompanyCode" width="100">所属单位编码</th>
                <th field="UniformCode" width="120"hidden="true" >统一编码</th>
                <th field="Description"  width="120" >描述</th>
                <th field="IsActive" width="100" >是否可用</th>
                <th field="UpdateTime" width="120" >更新时间</th>
            </tr>
		</thead>
	</table>
</div>
