<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="THOK.WCS.Bll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <THOK.WCS.Bll.Properties.Settings>
            <setting name="THOK_WCS_Bll_MdjInspurWmsService_LwmWarehouseWorkServiceService"
                serializeAs="String">
                <value>http://10.56.192.104:9081/lwm/axis/LwmWarehouseWorkService</value>
            </setting>
        </THOK.WCS.Bll.Properties.Settings>
    </applicationSettings>
</configuration>