<script type="text/javascript">
    function helpClick() {        
        $.getJSON("/HelpContent/Help/", "helpId=@ViewBag.ModuleID", function (helpContent) {
            HelpTxt = helpContent.ContentText;
            $("#ContentText").empty();
            $(HelpTxt).appendTo("#ContentText");
            $('#dlg-help').dialog('open').dialog('setTitle', '帮助');            
        });        
    };
</script>

<div id="dlg-help" class="easyui-dialog" modal="true" maximized="true" border="false"
        style="width:auto;height:auto;padding:10px 20px"
		closed="true">
        <div id="ContentText">
            
        </div>
</div>