<script type="text/javascript">
    var searchDialog;
    var module = "stockIntoInBill";
    var searchKey = false;
    var addKey = false;
    var editKey = false;
    var deleteKey = false;
    function searchClick() {
        if (searchDialog == null) {
            searchDialog = $('<div></div>').dialog({
                title: '查询',
                width: 300,
                height: 260,
                closed: true,
                cache: false,
                modal: true,
                href: '/StockInBill/SearchPage/',
                buttons: [{
                    text: '查询',
                    iconCls: 'icon-ok',
                    handler: function () {
                        GetQueryParams();
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        searchDialog.dialog('close');
                    }
                }],
                onLoad: function () {
                    SearchLoad();
                }
            });
        }
        searchKey = true;
        searchDialog.dialog('open');
    };
    function GetQueryParams() {
        var queryParams = $('#details').datagrid('options').queryParams;
        queryParams.BillNo = $('#searchBillNo').val();
        queryParams.WareHouseCode = $('#warehouse_In').combo('getValue');
        queryParams.BeginDate = $('#beginDate').datebox('getValue');
        queryParams.EndDate = $('#endDate').datebox('getValue');
        queryParams.OperatePersonCode = $('#operatePerson').combo('getValue');
        queryParams.CheckPersonCode = $('#checkPerson').combo('getValue');
        queryParams.Status = $('#operate_Status').combo('getValue');
        $('#details').datagrid('options').queryParams = queryParams;
        $("#details").datagrid('load');
        searchDialog.dialog('close');
    }
    function SearchLoad() {
        $('#makeDate_before').datebox({
            required: false
        });
        $('#makeDate_later').datebox({
            required: false
        });
        $('#checkDate_before').datebox({
            required: false
        });
        $('#checkDate_later').datebox({
            required: false
        });

        $('#warehouse_In').combogrid({
            disabled: false,
            width: 140,
            panelWidth: 340,
            url: '/StockInBill/GetWareHouseDetail/?IsActive=1',
            idField: 'WarehouseCode',
            textField: 'WarehouseName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
                    { field: 'WarehouseCode', title: '仓库编码', align: 'left', width: 40 },
                    { field: 'WarehouseName', title: '仓库名称', align: 'left', width: 30 },
                    { field: 'IsActive', title: '是否可用', align: 'left', width: 30 }
                ]]
        });

        $('#operatePerson').combogrid({
            disabled: false,
            width: 140,
            panelWidth: 240,
            url: '/Employee/Details/?page=1&rows=50&&IsActive=1',
            idField: 'EmployeeCode',
            textField: 'EmployeeName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'ID', title: '员工ID', hidden: true, width: 30 },
					{ field: 'EmployeeCode', title: '员工编码', align: 'left', width: 40 },
					{ field: 'EmployeeName', title: '员工名称', align: 'left', width: 30 }
				]]
        });

        $('#checkPerson').combogrid({
            disabled: false,
            width: 140,
            panelWidth: 240,
            url: '/Employee/Details/?page=1&rows=50&&IsActive=1',
            idField: 'EmployeeCode',
            textField: 'EmployeeName',
            mode: 'local',
            editable: false,
            fitColumns: true,
            columns: [[
					{ field: 'ID', title: '员工ID', hidden: true, width: 30 },
					{ field: 'EmployeeCode', title: '员工编码', align: 'left', width: 40 },
					{ field: 'EmployeeName', title: '员工名称', align: 'left', width: 30 }
				]]
        });

        $('#dlg-search').dialog('open').dialog('setTitle', '入库单查询');
        $("input[type=text]").attr("value", "");
        $('#beginDate').datebox({ editable: false });
        $('#endDate').datebox({ editable: false });
        $('#operate_Status').combo({ editable: false });
        $('#beginDate').datebox('setValue', "");
        $('#endDate').datebox('setValue', "");
        $('#warehouse_In').combogrid('clear');
        $('#operatePerson').combogrid('clear');
        $('#checkPerson').combogrid('clear');
        $('#operate_Status').combo('setValue', "");
    }
</script>
<script src="../../Scripts/mykeyboardshortcuts.js" type="text/javascript"></script>
