@{
    Layout = null;
}
<div class="easyui-layout" fit="true" border="false">
	<div region="center" border="false" style="padding:10px 10px;background:#fff;border:0px solid #ccc; " >   
        <table align="left" width="250">
            <tr>
            <td width="60">入库单号:</td>
            <td><input id="searchBillNo" type="text" style="width: 140px"></td>
            </tr>
            <tr style="padding-top:10px;">
            <td width="60">仓库名称:</td>
            <td align="left">      
		        <input type="text" id="warehouse_In"/>
	        </td>
            </tr>
            <tr>
            <td width="60">起始日期:</td>
            <td><input id="beginDate" type="text" style="width: 140px " class="easyui-datebox"></td>
            </tr>
            <tr>
            <td width="60">终止日期:</td>
            <td><input id="endDate" type="text"  style="width: 140px" class="easyui-datebox"></td>
            </tr>
            <tr style="padding-top:10px;">
            <td width="60">操 作 员:</td>
            <td align="left">      
		        <input type="text" id="operatePerson"/>
	        </td>
            </tr>
            <tr>
            <td width="60">处理状态:</td>
            <td><select id="operate_Status" class="easyui-combobox" style="width: 140px">
                    <option value="">请选择</option>                       
                    <option value="1">已录入</option>
                    <option value="2">已审核</option>
                    <option value="3">已分配</option>
                    <option value="4">已确认</option>
                    <option value="5">执行中</option>
                </select>
            </td>
            </tr>
            <tr style="padding-top:10px;">
            <td width="60">审 核 人:</td>
            <td>
                <input type="text" id="checkPerson"/>
            </td>                
            </tr>
        </table>
    </div>
</div>