<div region="center" split="true" border="false">
    <table id="details" class="easyui-datagrid" url="/StorageCellPreview/Details/" border="false" 
           singleselect="true" fit="true" fitcolumns="true" toolbar="#tool" pagination="true" rownumbers="true"
           pagesize="50">
        <thead>
            <tr>
                <th field="CellCode" width="80" hidden="true">货位代码</th>

                <th field="CellName"    width="100">货位名称</th>
                <th field="ProductCode" width="150">卷烟编码</th>
                <th field="ProductName" width="200">卷烟名称</th>
                <th field="StorageCount" width="80">当前数量（盘）</th>
                <th field="EmptyCount"   width="80">可入数量（盘）</th>
            </tr>
        </thead>
    </table>
</div>
