<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" border="false" singleSelect="true" url='/PathNode/Details/' 
    fit="true" toolbar="#tool"  pagination="true" rownumbers="true" pageSize="50">
        <thead>
            <tr>
                <th field="ID" width="80" >ID</th>
                <th field="PathID" width="120" >路径ID</th>
                <th field="PositionID" width="150" >位置ID</th>
                <th field="PathNodeOrder" width="150">路径节点顺序</th>
            </tr>
        </thead>
    </table>
</div>

