<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" border="false" singleSelect="true" url='/PathNode/Details/' 
    fit="true" toolbar="#tool"  pagination="true" rownumbers="true" pageSize="50">
        <thead>
            <tr>
                 <th field="ID" width="120" >路径节点编号</th>
@*                <th field="PathID" width="120">路径ID</th>*@
                <th field="PathName" width="120" >路径名称</th>
@*                <th field="PositionID" width="150">位置ID</th>*@
                <th field="PositionName" width="150" >位置名称</th>
                <th field="PathNodeOrder" width="150">路径节点顺序</th>
            </tr>
        </thead>
    </table>
</div>

