@{
    Layout = null;
}
<div class="easyui-layout" fit="true" border="false">
	<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >   
        <table width="280">
@*                    <tr>
                    <td width="60" align="right">ID：</td>
                    <td width="168"><input id="ID" type="text" />
                    <input name="ID"  style="display:none" /></td>
                    </tr>*@

                    <tr>
                    <td width="60" align="right">路径ID：</td>
                    <td width="168"><input id="PathID" type="text"/>
                    <input name="ID"  style="display:none" /></td>
                    </tr> 
                                         
                    <tr>
                    <td width="60" align="right">位置ID：</td>
                    <td width="168"><input id="PositionID" type="text" />
                    <input name="ID"  style="display:none" /></td>
                    </tr>

                    <tr>
                    <td width="60" align="right">路径节点顺序：</td>
                    <td width="168"><input id="PathNodeOrder" type="text" />
                    <input name="ID"  style="display:none" /></td>
                    </tr>

                </table>
    </div>
</div>
