@{
    Layout = null;
}
<div class="easyui-layout" fit="true" border="false">
	<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >   
        <table width="280">
                    <tr>
                    <td width="60" align="right">路径名称：</td>
                    <td width="168"><input id="PathName" type="text"/>
                    <input name="ID"  style="display:none" /></td>
                    </tr> 
                                         
                    <tr>
                    <td width="60" align="right">位置名称：</td>
                    <td width="168"><input id="PositionName" type="text" />
                    <input name="ID"  style="display:none" /></td>
                    </tr>

                    <tr>
                    <td width="80" align="right">路径节点顺序：</td>
                    <td width="168"><input id="PathNodeOrder" type="text" />
                    <input name="ID"  style="display:none" /></td>
                    </tr>
         </table>
    </div>
</div>
