<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" border="false" singleSelect="true" url='/SRM/Details/'
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true" pageSize="50">
        <thead>
            <tr>
                <th field="ID" width="80" >堆垛机编号</th>
                <th field="SRMName" width="120" >堆垛机名称</th>
                <th field="Description" width="150" >描述</th>
                <th field="State" width="70">状态</th>
            </tr>
        </thead>
    </table>
</div>
