<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" border="false" singleSelect="true" url='/SRM/Details/'
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true" pageSize="50">
        <thead>
            <tr>
                <th field="ID" width="80" >堆垛机编号</th>
                <th field="SRMName" width="90" >堆垛机名称</th>
                <th field="OPCServiceName" width="100" >OPC服务</th>
                <th field="GetRequest" width="90" >取货请求项</th>
                <th field="GetAllow" width="90" >充许取货项</th>
                <th field="GetComplete" width="90" >取货完成项</th>
                <th field="PutRequest" width="90" >放货请求项</th>
                <th field="PutAllow" width="90" >充许放货项</th>
                <th field="PutComplete" width="90" >放货完成项</th>
                <th field="State" width="60">状态</th>
                <th field="Description" width="60">描述</th>
                <th field="CancelTask" width="60">取消任务</th>
            </tr>
        </thead>
    </table>
</div>







