<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" border="false" singleSelect="true" url='/SRM/Details/'
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true" pageSize="50">
        <thead>
            <tr>
                <th field="ID" width="80" >堆垛机编号</th>
                <th field="SRMName" width="120" >堆垛机名称</th>
                <th field="OPCServiceName" width="120" >OPC服务</th>
                <th field="GetRequest" width="120" >取货请求项</th>
                <th field="GetAllow" width="120" >充许取货项</th>
                <th field="GetComplete" width="120" >取货完成项</th>
                <th field="PutRequest" width="120" >放货请求项</th>
                <th field="PutAllow" width="120" >充许放货项</th>
                <th field="PutComplete" width="120" >放货完成项</th>
                <th field="Description" width="150" >描述</th>
                <th field="State" width="70">状态</th>
            </tr>
        </thead>
    </table>
</div>







