<script type="text/javascript">
    function deleteClick() {
        var row = $('#details').datagrid('getSelected');
        if (row) {
            url = '/ExceptionalLog/Delete/?exceptionalLogId=' + row.ExceptionalLogID;
            $('#dlg-delete').dialog('open').dialog('setTitle', '删除');
            $('#fm').form('load', row);
        } else {
            $.messager.alert('错误', '没有选择行！', 'info');
        }
    };

    function deleted() {
        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    $('#dlg-delete').dialog('close');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    $('#details').datagrid('reload');
                }
            }
        });
    }

</script>

<div id="dlg-delete" class="easyui-dialog" modal="true" style="width:500px;height:270px;padding:2px 2px" closed="true" buttons="#dlg-buttons-search">
    <div class="easyui-layout" fit="true">
		<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " > 
        <form id="fm" method="post">
            <table width="470">
              <tr>
                <td width="60">异常时间：</td>
                <td width="155" align="left"><input id="inputCatchTime" name="CatchTime" disabled="disabled"/></td>
                <td width="60">模块名称：</td>
                <td width="155" align="left"><input id="inputModuleName" name="ModuleName" disabled="disabled"/></td>
              </tr>
              <tr>
                <td width="60">方法名称：</td>
                <td width="155" align="left"><input id="inputFunctionName" name="FunctionName" disabled="disabled"/></td>
                <td width="60">异常类型：</td>
                <td width="155" align="left"><input id="inputExceptionalType" name="ExceptionalType" disabled="disabled"/></td>
              </tr>
              <tr>
                <td width="60">异常描述：</td>
                <td colspan="3"><textarea name="ExceptionalDescription" id="txtExceptionalDescription" disabled="disabled" style="width: 360px; height: 110px"></textarea></td>
              </tr>
            </table>
        </form>  
        </div>
    </div>
</div>
<div id="dlg-buttons-search">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="deleted()">确定</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-delete').dialog('close')">取消</a>
</div>
