<script type="text/javascript">
    var url;
    var addDialog;
    function AddLoad() {

        $('#state_emp').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 130
        });
       
    }

    //加载新增和编辑窗体
    function showDialog(title) {
        if (addDialog == null) {
            addDialog = $('<div></div>').dialog({
                title: title,
                width: 580,
                height: 260,
                closed: true,
                cache: false,
                modal: true,
                href: '/Path/AddPage/',
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        save();
                    }
                }, {
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        addDialog.dialog('close');
                    }
                }],
                onLoad: function () {
                    if (title == '编辑') {
                        var erow = $('#details').datagrid('getSelected');
                        $('#fm').form('load', erow);
                    }
                    else if (title == '删除') {
                        var drow = $('#details').datagrid('getSelected');
                        $('#fm').form('load', drow);
                        $('form input').attr("disabled", "disabled");
                        $('form textarea').attr("disabled", "disabled");
                    }
                }
            });
        }
        else {
            addDialog.dialog({ title: title });
        }
    }

    function addClick() {
        AddLoad();
        showDialog('新增');
        addKey = true;
        addDialog.dialog('open');
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        $('#fm').form('clear');
        $('#fm .easyui-validatebox').validatebox({
            required: true
        });
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        $('#inputID').attr("readonly", false);
        $('#state_emp').combo({
            hasDownArrow: true
        });
        url = '/Path/Create/';
    };

    function save() {
        if ($("#desId").val().length > 100) {
            $.messager.alert("提示", "描述应小于100个字(包括空格)", "info");
            return false
        }
        $('form input').removeAttr("disabled");
        $('form textarea').removeAttr("disabled");
        $('#fm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $.messager.alert(g_MsgBoxTitle, result.msg, "info");
                    addKey = false;
                    editKey = false;
                    addDialog.dialog('close');
                    $('#details').datagrid('reload');
                } else {
                    $.messager.alert(g_MsgBoxTitle, result.msg + '<br />' + result.data, "error");
                    addKey = false;
                    editKey = false;
                    $('#details').datagrid('reload');
                }
            }
        });
    }
    function OriginSearchClick() {
        $('#originData').dialog('open').dialog('setTitle', '选择区域');
        $('#originDetail').datagrid({ url: '/Region/GetRegion/' });
        $("#originDetail").datagrid('reload');
    }
    function TargetSearchClick() {
        $('#targetData').dialog('open').dialog('setTitle', '选择区域');
        $('#targetDetail').datagrid({ url: '/Region/GetRegion/' });
        $("#targetDetail").datagrid('reload');
    }

</script>


