<script type="text/javascript">
    var pathId;
    var isAdd;
    $(function () {
        $('#path_node').window({
            title: '节点模块',
            width: 450,
            modal: true,
            shadow: false,
            closed: true,
            height: 300,
            resizable: false,
            minimizable: false,
            maximizable: false,
            collapsible: false
        });
    })

    //加载
    function nodeClick() {
        var row = $('#details').datagrid('getSelected');
        if (row) {
            $('#path_node').window('open');
            $('#nodedatagrid').datagrid('clearSelections'); //清空所有选择项
            pathId = row.ID;
            alert(pathId);
            $('#nodedatagrid').datagrid({
                url: '/PathNode/Details/?/PathId=' + pathId
            });
        } else {
            $('#path_node').window('close');
            $.messager.show({ title: '系统提示', msg: '请选择路径！' });
        }
    }

    //添加
    function nodeAddClick() {
        $('#nodeAdmin').dialog('open').dialog('setTitle', '功能新增');
        $('#PathID').val(pathId);
        $("input[type=text]").attr("value", "");
        $("input[type=text]").removeAttr("disabled");
        isAdd = 1;
    }

    //编辑
    function nodeEditClick() {
        var node = $('#nodedatagrid').datagrid('getSelected');
        if (node) {
            $('#nodeAdmin').dialog('open').dialog('setTitle', '功能编辑');
            current(2);
        } else {
            $.messager.show({ title: '系统提示', msg: '请选择要编辑的数据！' });
        }
    }

    //删除
    function nodeDeleteClick() {
        var node = $('#nodedatagrid').datagrid('getSelected');
        if (node) {
            $('#nodeAdmin').dialog('open').dialog('setTitle', '功能删除');
            current(3);
            $("input[type=text]").attr("disabled", "disabled");
        } else {
            $.messager.show({ title: '系统提示', msg: '请选择要删除的数据！' });
        }
    }

    function current(Parameter) {
        var row = $('#nodeAdmin').datagrid('getSelected');
        $('#PathID').val(pathId);
        $('#PositionName').val(row.PositionName);
        $('#PathNodeOrder').val(row.PathNodeOrder);
        $("input[type=text]").removeAttr("disabled");
        isAdd = Parameter;
        $('#nodedatagrid').datagrid('clearSelections'); //清空所有选择项
    }

</script>

<div id="path_node"  split="true">   
    <table id="nodedatagrid" class="easyui-datagrid"  rownumbers="true" singleSelect="true" border="0px"
			idField="FunctionName" treeField="ControlName" toolbar="#tb" >
        <thead >
            <tr>
                <th field="ID" width="80" >ID</th>
                <th field="PathName" width="120" >路径名称</th>
                <th field="PositionName" width="150" >位置名称</th>
                <th field="PathNodeOrder" width="150">路径节点顺序</th>
            </tr>
        </thead>
    </table>
    <div id="tb">
		<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="nodeAddClick()" id="nodeAdd">新增</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="nodeEditClick()" id="nodeEdit">编辑</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="nodeDeleteClick()" id="nodeDelete">删除</a>
	</div>
</div>
@Html.Partial("_NodeAdmin")
                                                                                            