<script type="text/javascript">
    $(function () {
        $('#regionDetail').datagrid({
            //双击赋值
            onDblClickRow: function () {
                jobSave();
            }
        })
        //属性初始化
        $('#queryTypeRegion').combo({
            required: true,
            editable: false,
            panelHeight: 45,
            panelWidth: 100
        })
    });
    //选中赋值
    function regionSave() {
        var regionRow = $('#regionDetail').datagrid('getSelected');
        if (regionRow) {
            $('#regionId').val(regionRow.ID);
            $('#regionName').val(regionRow.RegionName);
            $('#region-id').val(regionRow.ID);
            $('#region-name').val(regionRow.RegionName);
            $('#regionData').dialog('close');
        }
        else {
            $.messager.alert('提示', '没有选择行!', 'info');
        }
    }
    //根据条件查询
    function regionQueryClick() {
        $("#regionDetail").datagrid({
            url: '/Region/GetRegion/?queryString=' + $('#queryTypeRegion').combogrid('getValue') + '&value=' + $('#regionInfo').val()
        });
        $("#regionDetail").datagrid('reload');
    }
</script>
<div id="regionData" class="easyui-dialog" modal="true" style="width: 500px; height: 420px;
    padding: 0px 0px" closed="true" buttons="#dlgProduct-buttons">
    <div id="btnQuery">
        <select id="queryTypeRegion" class="easyui-combobox" style="width: 100px;" readonly="true">
            <option value="ID">区域编号</option>
            <option value="RegionName">区域名称</option>
        </select>
        <input id="regionInfo">
        <a href="#" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="regionQueryClick()"
            id="regionQuery">查询</a>
    </div>
    <div split="true" border="false" style="width: 486px; height: 320px;">
        <table id="regionDetail" class="easyui-datagrid" border="false" toolbar="#btn-query"
            singleselect="true" fit="true" fitcolumns="true" pagination="true" rownumbers="true">
            <thead>
                <tr>
                    <th field="ID"  width="60">
                        区域编号
                    </th>
                    <th field="RegionName" width="60">
                        区域名称
                    </th>
                    <th field="State" width="60">
                        是否可用
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="dlgDepart-buttons" style="float:right; margin-top:10px; margin-right:10px;">
        <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="regionSave()">确定</a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#regionData').dialog('close')">
            取消</a>
    </div>
</div>


