@{
    Layout = null;
}
<div class="easyui-layout" fit="true" border="false">
    <div region="center" border="false" style="padding: 10px 10px; background: #fff;border: 1px solid #ccc;">
        <form id="fm" method="post" novalidate>
        <table width="460">
            <tr>
            <td width="60" align="right">路径ID:
            </td>
            <td width="160">
            <input name="ID" id="inputID" type="text" readonly="readonly" value="自动增长"/>
            <input name="ID" style="display: none" />
            </td>
            <td width="60"  >路径名称：
            </td>
            <td width="168">
            <input name="PathName" class="easyui-validatebox" validtype="maxLength[50]" required="true" />
            </td>
            </tr>
            <tr>
            <td width="60" align="right">
             起始区域编号：
             </td>
             <td width="168">
                    <input name="OriginRegionID" id="originRegionId" required="true" style="display: none;" />
                    <input name="RegionName" id="regionName" required="true" readonly="readonly" class="easyui-validatebox" />
                    <a href="#" id="RegionSearch" class="easyui-linkbutton" iconcls="icon-search" plain="true"
                        onclick="regionSearchClick()"></a>
                </td>
             <td width="60" align="right">
               目标区域编号：
                </td>
                <td width="168">
                    <input name="TargetRegionID" id="targetRegionId" required="true" style="display: none;" />
                    <input name="RegionName" id="regionName" required="true" readonly="readonly" class="easyui-validatebox" />
                    <a href="#" id="regionSearch" class="easyui-linkbutton" iconcls="icon-search" plain="true"
                        onclick="regionSearchClick()"></a>
                </td>
            </tr>
            <tr>
            <td width="60">状态：
            </td>
            <td><select id="state_path" name="State" class="easyui-combobox" style="width: 130px">
                <option value="1">可用</option>
                <option value="0">不可用</option></select>
                </td>
            </tr>
            <tr>
                <td width="60" align="right">
                    描述:
                </td>
                <td width="168" colspan="3">
                    <textarea name="Description" id="desId"  style="width: 351px; height: 80px"></textarea>
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>
@Html.Partial("_RegionPartial")


