<script type="text/javascript">
    $(function () {

    });
</script>
 
<div region="center" split="true" border="false">    
    <table id="details" class="easyui-datagrid" url="/Path/Details/"  singleSelect="true"
        fit="true" fitColumns="true" toolbar="#tool" border="false" pagination="true" rownumbers="true">
        <thead>
            <tr>
                <th field="ID" width="80">路径编号</th>
                
                <th field="PathName" width="100">路径名称</th>
               
                <th field="OriginRegionID" hidden="true" width="100">起始区域</th>
                <th field="OriginRegionName" width="100">起始区域</th>
             
                <th field="TargetRegionID" hidden="true" width="80" >目标区域</th>
                <th field="TargetRegionName" width="80" >目标区域</th>
                
                
                <th field="State" width="80" >状态</th>
                <th field="Description" width="125" >描述</th>
            </tr>
        </thead>
    </table>
</div>
@*@Html.Partial("_NodePartial")*@
