<script type="text/javascript">
    $(function () {

    });
</script>
<div region="center" split="true" border="false" >    
    <table id="details" class="easyui-datagrid" url="/Path/Details/" border="false" singleSelect="true"
        fit="true" toolbar="#tool"  pagination="true" rownumbers="true" >
        <thead>
            <tr>
                <th field="ID" hidden="true" width="80" >路径ID</th>
                <th field="PathName" width="180" >路径名称</th>
                <th field="OriginRegionID" width="180">起始区域ID</th>
                <th field="TargetRegionID" width="200">目标区域ID</th>   
                <th field="Description" width="160">描述</th>   
                <th field="State" width="125" >状态</th>

                
            </tr>
        </thead>
    </table>
</div>

