@{
    Layout = null;
}
<div class="easyui-layout" fit="true" border="false">
    <div region="center" border="false" style="padding: 10px 10px; background: #fff;
        border: 1px solid #ccc;">
        <table width="250">
            <tr>
                <td width="60">
                    路径编号：
                </td>
                <td width="168" align="left">
                    <input id="inputID" type="text"/>
                </td>
            </tr>
            <tr>
                <td width="60">
                    路径名称：
                </td>
                <td width="168" align="left">
                    <input id="PathName" type="text"/>
                </td>
            </tr>
            <tr>
                <td width="60">
                    起始区域：
                </td>
                <td width="168" align="left">
                    <input id="origin-id" name="OriginID" type="text" style="display:none;"/>
                    <input id="origin-name" name="OriginName" type="text" readonly="readonly"/>
                    <a href="#" id="originname-name" class="easyui-linkbutton" iconcls="icon-search"
                        plain="true" onclick="OriginSearchClick()"></a>
                </td>
            </tr>
            <tr>
               <td width="60">
                    岗位名称：
                </td>
                <td width="168" align="left">
                    <input id="target-id" name="TargetID" type="text" style="display:none;"/>
                    <input id="target-name" name="TargetName" type="text" readonly="readonly"/>
                    <a href="#" id="target-search" class="easyui-linkbutton" iconcls="icon-search" plain="true"
                        onclick="TargetSearchClick()"></a>
                </td>
            </tr>
            <tr>
                <td>
                    状态：
                </td>
                <td>
                    <select id="state" name="State" class="easyui-combobox" style="width: 130px">
                        <option value="">请选择</option>
                        <option value="01">可用</option>
                        <option value="02">不可用</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>
