@{
    Layout = null;
}
<div class="easyui-layout" fit="true" border="false">
	<div region="center" border="false" style="padding:10px 10px ;background:#fff;border:1px solid #ccc; " > 
      <form id="fm" method="post" >  
        <table width="280" border="0" cellspacing="10" cellpadding="10">
                    <tr>
                    <td width="60" align="right">尺寸名称：</td>
                    <td width="168">
                    <input name="SizeName" id="inputSizeName" class="easyui-validatebox" required="true" type="text"/>
                    <input name="ID"  style="display:none" /></td>    
                    </tr>

                    <tr>
                    <td width="60" align="right">尺寸编号：</td>
                    <td width="168">
                    <input name="SizeNo" id="inputSizeNo" class="easyui-numberbox" min="0" max="999999999" required="true" type="text" missingmessage="必须为数字"/>
                    <input name="ID"  style="display:none" /></td>    
                    </tr>

                    <tr>
                    <td width="60" align="right">长度：</td>
                    <td width="168">
                    <input name="Length" id="inputLength" class="easyui-numberbox" min="0" max="999999999" required="true" type="text" missingmessage="必须为数字"/>
                    <input name="ID"  style="display:none" /></td>    
                    </tr>

                    <tr>
                    <td width="60" align="right">宽度：</td>
                    <td width="168">
                    <input name="Width" id="inputWidth" class="easyui-numberbox" min="0" max="999999999" required="true" type="text" missingmessage="必须为数字"/>
                    <input name="ID"  style="display:none" /></td>    
                    </tr>

                    <tr>
                    <td width="60" align="right">高度：</td>
                    <td width="168">
                    <input name="Height" id="inputHeight" class="easyui-numberbox" min="0" max="999999999" required="true" type="text" missingmessage="必须为数字"/>
                    <input name="ID"  style="display:none" /></td>    
                    </tr>

                    </tr>
                </table>
            </form>
    </div>
</div>
