<script type="text/javascript">
    $(function () {

    });
</script>
<div region="center" split="true" border="false" >    
    <table id="details" class="easyui-datagrid" url="/Size/Details/"  border="false" singleSelect="true" fit="true" toolbar="#tool"  pagination="true" rownumbers="true" >
        <thead>
            <tr>
                <th field="ID" width="100" >尺寸ID</th>
                <th field="SizeName" width="180" >尺寸名称</th>
                <th field="SizeNo" width="100">尺寸编号</th>   
                <th field="Length" width="100">长度</th>   
                <th field="Width" width="100">宽度</th> 
                <th field="Height" width="100">高度</th> 
            </tr>
        </thead>
    </table>
</div>
