@{
    Layout = null;
}
<div class="easyui-layout" fit="true" border="false">
	<div region="center" border="false" style="padding:10px 10px;background:#fff;border:1px solid #ccc; " >   
        <form id="sifm">
        <table width="280">
                    <tr>
                    <td width="60" align="right">尺寸ID：</td>
                    <td width="168"><input id="SizeID"  type="text" />
                    </td>
                    </tr>

                    <tr>
                    <td width="60" align="right">尺寸名称：</td>
                    <td width="168"><input id="SizeName" type="text"/>
                    </td>
                    </tr> 

                    <tr>
                    <td width="60" align="right">尺寸编号：</td>
                    <td width="168"><input id="SizeNo" type="text" "/>
                    </td>
                    </tr> 

                </table>
          </form>
    </div>
</div>
